<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div class="card-title"
     layout="column"
     layout-align="center start">
  <div class="flag-bar"></div>
  <div class="md-headline card-title-text">
    {{template.contents.title}}
  </div>
</div>

<ng-switch on="template.contents.data.type" class="selectable">

  <div class="preview"
       ng-switch-when="video"
       ng-style="{
         'max-height':template.cstyle.height16$9,
         height:template.cstyle.height16$9,
         width:template.cstyle.width }">
    <div web-dynamic="template.contents.data['html']"></div>
    <div class="md-body-1 preview-text">
      {{template.contents.data.title}}
    </div>
  </div>

  <div class="preview"
       ng-switch-when="photo"
       ng-style="{
         'max-height':template.cstyle.height16$9,
         width:template.cstyle.width }">
    <img ng-src="template.contents.data['url']">
    <div class="md-body-1 preview-text">
      {{template.contents.data.title}}
    </div>
  </div>

  <div class="preview tooltip"
       ng-switch-when="rich"
       ng-style="{
         height:template.cstyle.heightContent,
         width:template.cstyle.width }">
    <span class="tooltip-text">
      {{template.contents.data.title||template.contents.text}}
    </span>
    <div web-dynamic="template.contents.data['html']">
    </div>
    <!--
      <div ng-if="!!template.contents.data['thumbnail_url']">
        <a ng-href="{{template.contents.data['url']}}">
          <img ng-src="{{template.linkParser(template.contents.data['thumbnail_url'])}}">
        </a>
        <div style="font-weight: 700; padding:8px 4px;">
          {{template.contents.data['title']}}
        </div>
      </div>

      <div ng-if="!template.contents.data['thumbnail_url'] && template.contents.data['description']" style="padding:8px 4px;">
        <a ng-href="{{template.contents.data['url']}}" style="font-weight: 700;">
          template.contents.data['title']
        </a>
        <p>
          template.contents.data['description']
        </p>
      </div>
    -->
  </div>

  <a class="preview"
      layout="column"
      layout-align="start center"
      ng-href="{{template.contents.data.url||template.contents.address}}"
      ng-switch-when="link"
      ng-style="{
        'max-height':template.cstyle.width,
        width:template.cstyle.width }" >
    <md-icon class="link-icon md-primary"
             md-svg-src="content:link"></md-icon>
    <div class="md-body-1 preview-text">
      {{template.contents.data.title}}
    </div>
    <div class="md-body-1 preview-text">
      {{template.contents.data.author}}
    </div>
  </a>

</ng-switch>
