/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
web-card-display .card-title {
  height: 56px;
  min-height: 56px;
  padding: 0 8px;
  cursor: pointer;
}

web-card-display .card-title .flag-bar {
  min-height: 8px;
}

web-card-display .card-title .card-title-text {
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 8px 0 8px 8px;
}

/* Preview */
web-card-display .preview .preview-text {
  padding: 4px 16px;
  overflow: hidden;
  margin: 0;
}

web-card-display .preview .link-icon {
  height: 48px;
  width: 48px;
  text-align: center;
}

/* Tooltip container */
web-card-display .tooltip {
  /* border-bottom: 1px dotted black; //If you want dots under the hoverable text */
  position: relative;
}

/* Tooltip text */
web-card-display .tooltip .tooltip-text {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  padding: 4px 8px;

  /* Position the tooltip text */
  position: absolute;
  width: calc(100% - 16px);
  z-index: 1;
  bottom: 0;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 1.5s;
}

/* Show the tooltip text when you mouse over the tooltip container */
web-card-display:hover .tooltip .tooltip-text {
  visibility: visible;
  opacity: 0.75;
}
