/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */

/* roboto-latin-300-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 300;
  src: url(@fontsource/roboto/files/roboto-latin-300-normal.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-latin-400-italic */
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/roboto/files/roboto-latin-400-italic.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-latin-400-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(@fontsource/roboto/files/roboto-latin-400-normal.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-latin-500-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url(@fontsource/roboto/files/roboto-latin-500-normal.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

/* roboto-latin-700-normal */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url(@fontsource/roboto/files/roboto-latin-700-normal.woff2) format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(@fontsource/montserrat/files/montserrat-latin-400-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Montserrat';
  font-style: bold;
  font-weight: 700;
  src: url(@fontsource/montserrat/files/montserrat-latin-700-normal.woff2) format('woff2');
}

@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(@fontsource/kaushan-script/files/kaushan-script-latin-400-normal.woff2) format('woff2');
}
