<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-dialog class="dialog"
           aria-label="Confirm-{{dialog.confirm.title}}">

  <md-toolbar md-primary
              class="dialog-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{dialog.confirm.title}}</h2>
      <span flex></span>
      <!--
      <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button>
      -->
    </div>
  </md-toolbar>

  <md-dialog-content class="dialog-content">
    <div class="md-dialog-content">
      <p>{{dialog.confirm.text}}</p>
    </div>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <span flex></span>
    <md-button ng-click="dialog.cancel()"
               aria-label="Cancel">
      {{dialog.confirm.cancel}}
    </md-button>
    <md-button ng-click="dialog.continue()"
               aria-label="Continue">
      {{dialog.confirm.continue}}
    </md-button>
  </md-dialog-actions>

</md-dialog>
