<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-tabs class="ribbon"
         md-selected="ribbon.index"
         md-center-tabs="false"
         md-dynamic-height="true">

  <md-tab id="Help"
          aria-controls="Toolbar-Help">
    <md-tab-label class="tab-text">
      <!-- <span> -->
      <md-icon class="tab-icon md-primary"
               md-font-icon="mdi mdi-help-circle"></md-icon>
      <span hide show-gt-sm>Help</span>
      <!-- </span> -->
    </md-tab-label>
  </md-tab>

  <md-tab id="File"
          aria-controls="Toolbar-File">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-file"></md-icon>
        <span hide show-gt-sm>File</span>
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="Compile"
          aria-controls="Toolbar-Compile">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-play"></md-icon>
        <span hide show-gt-sm>Compile</span>
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="Side-Panel"
          aria-controls="Toolbar-Panel">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-magnify"></md-icon>
        <span hide show-gt-sm>Tools</span>
      </span>
    </md-tab-label>
  </md-tab>
</md-tabs>


<md-toolbar class="ribbon-toolbar"
            ng-switch="ribbon.index">

  <!-- Help Menu -->
  <div ng-switch-when="0"
       id="Toolbar-Help"
       class="md-toolbar-tools"
       aria-labelledby="Help">
    <toolbar-button name="About"
                    icon="information"
                    click="ribbon.help.about()"
                    tooltip="About Syntropize"></toolbar-button>
  </div>

  <!-- File Menu -->
  <div ng-switch-when="1"
       id="Toolbar-File"
       class="md-toolbar-tools"
       aria-labelledby="File">
    <md-menu>
      <toolbar-button name="New"
                      icon="plus-box"
                      click="$mdOpenMenu()"
                      disabled="ribbon.readOnly"
                      tooltip="New File Menu"></toolbar-button>
      <md-menu-content width="1">
        <toolbar-menu-button name="New File"
                              icon="file-plus"
                              click="ribbon.command.create()"
                              tooltip="Create New File"></toolbar-menu-button>
        <toolbar-menu-button name="New Folder"
                              icon="folder-plus"
                              click="ribbon.command.createDir()"
                              tooltip="Create New Folder"></toolbar-menu-button>
      </md-menu-content>
    </md-menu>

    <toolbar-button name="Rename"
                    icon="rename-box"
                    click="ribbon.command.rename(ribbon.selection.files.lastSelection())"
                    disabled="!ribbon.selection.files.selection() || ribbon.readOnly"
                    tooltip="Rename Last Selected"></toolbar-button>
    <toolbar-button name="Delete"
                    icon="delete"
                    click="ribbon.remove()"
                    disabled="!ribbon.selection.files.selection() || ribbon.readOnly"
                    tooltip="Delete Selected Files"></toolbar-button>
    <span class="separator"></span>
    <!--
    <md-menu>
      <toolbar-button name="Enable Board"
                      icon="playlist-plus"
                      click="$mdOpenMenu()"
                      disabled="!!ribbon.files['_meta.json'] || ribbon.readOnly"
                      tooltip="Enable Board at current location"></toolbar-button>
      <md-menu-content width="1">
        <toolbar-menu-button ng-repeat="type in ribbon.cardTypes"
                             name="New {{::type}} Card"
                             icon="plus-box"
                             click="ribbon.panel('BoardSimpleCardAdd', type, true)"
                             tooltip="Enable Board with new {{::type}} Card"></toolbar-menu-button>
      </md-menu-content>
    </md-menu>
    <span class="separator"></span>
    -->
    <toolbar-button name="Cut"
                    icon="content-cut"
                    click="ribbon.cut()"
                    disabled="ribbon.readOnly"
                    tooltip="Cut Selected Files"></toolbar-button>

    <toolbar-button name="Copy"
                    icon="content-copy"
                    click="ribbon.copy()"
                    tooltip="Copy Selected Files"></toolbar-button>

    <toolbar-button name="Paste"
                    icon="content-paste"
                    click="ribbon.paste()"
                    disabled="ribbon.readOnly || !ribbon.pasteActive"
                    tooltip="Paste Files"></toolbar-button>

    <toolbar-button name="Clear"
                    icon="selection-off"
                    click="ribbon.clearXC()"
                    disabled="!ribbon.pasteActive"
                    tooltip="Clear Selection"></toolbar-button>

    <span class="separator"></span>

  </div>

  <!-- Compile Menu -->
  <div ng-switch-when="2"
       id="Toolbar-Compile"
       class="md-toolbar-tools"
       aria-labelledby="Compile">
    <toolbar-button name="Install"
                    icon="download"
                    click=""
                    disabled="true"
                    tooltip="Install Compile Script"></toolbar-button>
    <md-menu>
      <toolbar-button name="Compile"
                      icon="play"
                      click="$mdOpenMenu()"
                      disabled="ribbon.readOnly"
                      tooltip="Compile Files"></toolbar-button>
      <md-menu-content width="3">
        <!--
          <toolbar-menu-button name="Custom"
                               icon="plus-box"
                               click="view.compileFiles()"
                               tooltip="Add a new Folder">
          </toolbar-menu-button>
        -->
        <!-- Unclickable Heading -->
        <!--
        <md-menu-item>
          <span class="md-button" md-no-ink
                style="cursor:default; background-color:white;">
            <md-icon class="tool-icon md-accent"
                      md-font-icon="mdi mdi-build"
                      md-menu-align-target
                      style="font-size:24px"></md-icon>
            <p md-primary class="md-body-2"
               style="margin-left:-10px;">Compile</p>
          </span>
        </md-menu-item>
        -->
        <toolbar-menu-button name="Run"
                             icon="play"
                             md-menu-align-target
                             click="ribbon.panel.start(
                               'Run',
                               ribbon.selectionAggr,
                               ribbon.selectionClear
                             )"
                             tooltip=""></toolbar-menu-button>
        <toolbar-menu-button-2 ng-repeat="type in ribbon.compileTypes"
                               name="{{::type}}"
                               icon="{{::ribbon.runIcon(type)}}"
                               click="ribbon.run.script(
                                 type,
                                 ribbon.selectionAggr,
                                 ribbon.selectionClear
                               )"
                               tooltip="Compile Files in {{::type}}"></toolbar-menu-button-2>
      </md-menu-content>
    </md-menu>
  </div>

  <!-- Sidepanel Menu -->
  <div ng-switch-when="3"
       id="Toolbar-Tools"
       class="md-toolbar-tools"
       aria-labelledby="Tools">
    <toolbar-button name="Properties"
                    icon="file-document"
                    click="ribbon.panel.start('FileListProperties')"
                    tooltip="See File Properties"></toolbar-button>
    <toolbar-button name="Search"
                    icon="filter"
                    click="ribbon.panel.start('FileListSearch')"
                    disabled="true"
                    tooltip="Search Files"></toolbar-button>
    <toolbar-button name="Sort"
                    icon="sort"
                    click="ribbon.panel.start('FileListSort')"
                    disabled="true"
                    tooltip="Sort Files"></toolbar-button>
  </div>

</md-toolbar>
