/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
@font-face {
  font-family: 'Kaushan Script';
  font-style: normal;
  font-weight: 400;
  src: url(@syntropize/assets/lib/fonts/kaushan-script_splash.woff2) format('woff2');
}

@font-face {
  font-family: 'Veteran Typewriter';
  font-style: normal;
  font-weight: 400;
  src: url(@syntropize/assets/lib/fonts/veteran-typewriter_splash.woff2) format('woff2');
}


body {
  user-select: none;
  margin: 0;
  overflow: hidden;
}

header {
  height: 100vh;
  background-image: url('@syntropize/assets/lib/images/desktop.jpg');
  background-repeat: none;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  text-align: center;
}

header .intro-text {
  padding: 150px 0;
}

header .intro-text .intro-heading {
  background: url('@syntropize/assets/lib/brand/name.svg');
  background-position: center center;
  background-size: 560px 60px;
  background-repeat: no-repeat;
  width: 560px;
  height: 60px;
  margin: 0 auto;
  text-transform: none;
}

header .intro-text .intro-lead-in {
  color: white;
  font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, sans-serif, cursive;
  font-style: italic;

  font-size: 42px;
  margin-bottom: 25px;
}

header .intro-text .intro-lead-in .typed {
  font-family: "Veteran Typewriter", "Helvetica Neue", Helvetica, Arial, sans-serif, cursive;
  font-style: normal;
  padding-left: 1rem;
  font-weight: 700;
}

#preloader {
  position: absolute;
  width: 32px;
  height: 32px;
  right: 18px;
  bottom: 16px;
  background-image: url('@syntropize/assets/lib/images/spinner.gif');
  background-size: 32px;
}
