<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-dialog class="dialog"
           aria-label="Confirm-{{dialog.title}}">

  <md-toolbar md-primary
              class="dialog-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{dialog.title}}</h2>
      <span flex></span>
      <!-- <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button> -->
    </div>
  </md-toolbar>

  <md-dialog-content class="dialog-content">
    <div class="md-dialog-content">
      <p>{{dialog.text}}</p>
      <form name="form" layout-column>
        <md-input-container class="md-block" md-padding flex-gt-xs>
          <label>
            {{dialog.properties.name.title}}
          </label>
          <input name="name"
                 ng-model="dialog.properties.name.value"
                 ng-model-options="{
                   debounce: { default: 500 },
                   allowInvalid: true
                 }"
                 ui-validate="{
                   legalName: 'dialog.properties.name.isLegal()',
                   uniqueName: 'dialog.properties.name.isUnique()'
                 }"
                 ui-validate-watch="'dialog.properties.name.value'" aria-label="Target Name" />
          <div ng-messages="form.name.$error">
            <div ng-message="required"
                 ng-show="form.name.$error.required">
              Enter a New Input
            </div>
            <div ng-message="legalName"
                 ng-show="dialog.properties.name.value && form.name.$error.legalName">
              Input CANNOT have Special Characters
            </div>
            <div ng-message="uniqueName"
                 ng-show="dialog.properties.name.value && form.name.$error.uniqueName && form.$dirty">
              A Unique Input is Required
            </div>
          </div>
        </md-input-container>

        <div layout-row class="md-block" flex-gt-xs>
          <md-input-container class="dialog-content" flex-gt-xs>
            <label>
              {{dialog.properties.path.title}}
            </label>
            <input name="path"
                  ng-model="dialog.properties.path.value"
                  ng-model-options="{
                    debounce: { default: 500 },
                    allowInvalid: true
                  }"
                  ui-validate="{
                    legalName: 'dialog.properties.path.isLegal()',
                    uniqueName: 'dialog.properties.path.isUnique()'
                  }"
                  ui-validate-watch="'dialog.properties.path.value'" aria-label="Target Name" />
            <div ng-messages="form.path.$error">
              <div ng-message="required"
                   ng-show="form.path.$error.required">
                Enter a New Input
              </div>
              <div ng-message="legalName"
                   ng-show="dialog.properties.path.value && form.path.$error.legalName">
                Input Must be a valid path
              </div>
              <div ng-message="uniqueName"
                   ng-show="dialog.properties.path.value && form.path.$error.uniqueName && form.$dirty">
                A Unique Input is Required
              </div>
            </div>
          </md-input-container>

          <md-button class="md-icon-button"
                     ng-if="dialog.type === 'folder'"
                     aria-label="browse-files"
                     title="Browse">
            <label for="myInputFolder" >
                <md-icon md-svg-icon="file:folder_open"></md-icon>
            </label>
            <input class="hidden-dialog-trigger"
                   type="file"
                   id="myInputFolder"
                   on-file-change="dialog.setPath"
                   nwdirectory=""
                   nwworkingdir="{{dialog.properties.path.blacklist[0]}}"/>
          </md-button>
          <md-button class="md-icon-button"
                     ng-if="dialog.type === 'file'"
                     aria-label="browse-files"
                     title="Browse">
            <label for="myInputFile" >
                <md-icon md-svg-icon="editor:insert_drive_file"></md-icon>
            </label>
            <input class="hidden-dialog-trigger"
                   type="file"
                   id="myInputFile"
                   on-file-change="dialog.setPath"
                   nwworkingdir="{{dialog.properties.path.blacklist[0]}}"/>
          </md-button>
        </div>
      </form>
    </div>

    <div class="md-dialog-actions"
         layout="row">
      <span flex></span>
      <md-button ng-click="dialog.cancelDialog()"
                 aria-label="Cancel">
        {{dialog.cancel}}
      </md-button>
      <md-button ng-click="dialog.continueDialog()"
                 ng-disabled="form.$pristine || form.$invalid"
                 aria-label="Continue">
        {{dialog.continue}}
      </md-button>
    </div>
  </md-dialog-content>

</md-dialog>
