/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.unselectable {
  user-select: none;
}

.selectable {
  user-select: text;
}

.app {
  /* needed to deal with <md-background> bug on dialogs in angular-material
   * see github:angular/material#5769
   */
  top: 0 !important;
  overflow: hidden;
  position: fixed;
}

.app .content {
  min-height: initial;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.85);
}
