/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */

/* Sort Field Selection */

md-list-item.sort-fields.selected {
  background-color: #7986cb;
}

md-list-item.sort-fields.last-selected {
  background-color: #f06292;
}


/* Sort Field Counter */

md-list-item.sort-fields.selected .sort-field-counter {
  background-color: #3f51b5;
}

md-list-item.sort-fields.last-selected .sort-field-counter {
  background-color: #e91e63;
}

md-list-item.sort-fields.selected md-icon.sort-field-counter {
  border-radius: 4px;
  line-height: 24px;
  color: white;
  text-align: center;
  font-weight: 600;
}
