<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<style>
  card-sort .category {
    height: 24px;
  }
</style>

<md-content class="autoScroll">

  <md-subheader class="md-no-sticky">
    <div class="category" layout="row" layout-align="space-between center">
      UNIVERSAL
      <md-button class="md-icon-button"
                 ng-click="sort.global=''">
        <md-icon md-svg-icon="navigation:cancel">
          <md-tooltip>Cancel Universal Sort</md-tooltip>
        </md-icon>
      </md-button>
    </div>
  </md-subheader>

  <div layout="column" layout-margin>
    <md-input-container class="md-icon-float md-block">
      <label>Sort All</label>
      <md-icon md-primary
               md-svg-icon="content:sort"></md-icon>
      <input ng-model="sort.global"
             ng-model-options="{ debounce: 500 }"
             type="text" />
    </md-input-container>
  </div>

  <md-subheader class="md-no-sticky" >
    <div class="category"
         layout="row" layout-align="space-between center">
      BY PROPERTY
      <md-button class="md-icon-button"
                 ng-click="sort.clear()">
        <md-icon md-svg-icon="navigation:cancel">
          <md-tooltip>Cancel Sort</md-tooltip>
        </md-icon>
      </md-button>
    </div>
  </md-subheader>

  <md-list>
    <md-list-item class="sort-fields"
                  ng-class="{selected:sort.field.isSelected(field.id)}"
                  ng-repeat="field in sort.fieldList"
                  ng-click="sort.toggleField(field.id);">
      <md-tooltip>Select Property</md-tooltip>
      <md-icon class="sort-field-counter"
               ng-if="sort.field.isSelected(field.id)">
        {{sort.field.selectionNumber(field.id)}}
      </md-icon>

      <md-icon md-svg-icon="toggle:check_box_outline_blank"
               ng-if="!sort.field.isSelected(field.id)">
      </md-icon>

      <p>{{field.name}}</p>

      <md-icon ng-if="sort.direction.has(field.id)"
               class="md-secondary md-accent"
               ng-click="sort.changeDirection(field.id); $event.stopPropagation(); $event.preventDefault();"
               md-svg-icon="{{sort.direction.get(field.id) ? 'navigation:expand_less' : 'navigation:expand_more'}}"
               aria-label="toggle-down">
        <md-tooltip md-direction="left">
          Change Sort Direction
        </md-tooltip>
      </md-icon>
    </md-list-item>

    <md-list-item class="sort-fields selected">
      <md-icon></md-icon>
      <p>Index</p>
      <md-icon aria-label="toggle-down"
               class="md-secondary md-accent"
               md-svg-icon="{{sort.indexDirection ? 'navigation:expand_less' : 'navigation:expand_more'}}"
               ng-click="sort.indexDirection = !sort.indexDirection">
        <md-tooltip md-direction="left">
          Change Sort Direction
        </md-tooltip>
      </md-icon>
    </md-list-item>

  </md-list>

</md-content>
