<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-toolbar class="ribbon-toolbar md-accent">

  <div class="md-toolbar-tools">

    <toolbar-button name="List"
                    icon="menu"
                    click="ribbon.list.open()"
                    ng-if="!ribbon.list.isOpen"
                    tooltip="Section List"></toolbar-button>

    <!-- Help Menu -->
    <div id="Toolbar-Help"
         aria-labelledby="Help"
         layout="row" layout-align="start center">
      <toolbar-button name="About"
                      icon="information"
                      click="ribbon.help.about()"
                      tooltip="About Syntropize"></toolbar-button>
    </div>

    <!-- Section Menu -->
    <div id="Toolbar-Section"
         aria-labelledby="Section"
         layout="row" layout-align="start center">
      <toolbar-button name="Add"
                      icon="import"
                      click="ribbon.add()"
                      disabled="ribbon.readOnly"
                      tooltip="Add Section"></toolbar-button>
      <toolbar-button name="Transclude"
                      icon="import"
                      click="ribbon.transclude()"
                      disabled="ribbon.readOnly"
                      tooltip="Transclude Section"></toolbar-button>
      <toolbar-button name="Start"
                      icon="pencil-box"
                      ng-if="!ribbon.isActiveSectionEnabled"
                      click="ribbon.create()"
                      disabled="ribbon.isActiveSectionEnabled || ribbon.readOnly"
                      tooltip="Start Selected Section"></toolbar-button>
      <toolbar-button name="Edit"
                      icon="pencil-box"
                      ng-if="ribbon.isActiveSectionEnabled"
                      click="ribbon.open()"
                      disabled="!ribbon.isActiveSectionEnabled || ribbon.readOnly"
                      tooltip="Edit Selected Section"></toolbar-button>
      <toolbar-button name="Explore"
                      icon="pencil-box"
                      click="ribbon.openFolder()"
                      disabled="false"
                      tooltip="Open Section in File Explorer"></toolbar-button>
      <toolbar-button name="Delete"
                      icon="minus-box"
                      ng-if="ribbon.isActiveSectionEnabled"
                      click="ribbon.remove()"
                      disabled="!ribbon.isActiveSectionEnabled || ribbon.readOnly"
                      tooltip="Delete Selected Section Only"></toolbar-button>
      <toolbar-button name="Delete Resource"
                      icon="close-box"
                      click="ribbon.removeAll()"
                      disabled="ribbon.readOnly"
                      tooltip="Delete Selected Section with Contents"></toolbar-button>
      <!-- <span class="separator"></span> -->
      <!--
      <toolbar-button name="Cut"
                      icon="content-cut"
                      click=""
                      disabled=""
                      tooltip="Cut Selected Cards"></toolbar-button>
      <toolbar-button name="Copy"
                      icon="content-copy"
                      click=""
                      disabled=""
                      tooltip="Copy Selected Cards"></toolbar-button>
      <toolbar-button name="Paste"
                      icon="content-paste"
                      click=""
                      disabled=""
                      tooltip="Paste Cards"></toolbar-button>
      <span class="separator"></span>
      -->
      <!-- <toolbar-button name="Install"
                      icon="download"
                      click=""
                      disabled="true"
                      tooltip="Install Compile Script"></toolbar-button>
      <toolbar-button name="Reload All"
                      icon="reload"
                      click="$mdOpenMenu()"
                      tooltip="Reload All Cards Templates"></toolbar-button> -->
    </div>

  </div>
</md-toolbar>
