<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div>

  <div class="flag-bar"></div>
  <div class="card-heading"
       layout="row" layout-align="start center">
    <div class="md-headline card-heading-text">{{card.key}}</div>
  </div>

  <md-divider ng-hide="(card.items.length === 0)">
  </md-divider>
  <perfect-scrollbar class="scroller"
                     opts="{
                       suppressScrollX: true,
                       minScrollbarLength: 20,
                     }"
                     ng-click="card.selection.clear()">
    <s-file-list flex layout-fill
               items="card.items"
               key="{{card.key}}"
               xc="card.xc"
               selection="card.selection"></s-file-list>
    <div class="negative"></div>
  </perfect-scrollbar>

  <md-divider class="md-actions"
              layout="row" layout-align="end center"
              ng-hide="card.items.length === 0">

    <!--
    <md-button ng-show="card.items[
                 card.selection.lastSelection()
               ].isBoard === false"
               class="md-icon-button double-icon"
               ng-click="card.folderToBoard()"
               aria-label="'Convert Folder to Board'">
      <md-icon class="md-primary overlap-icon-back"
               md-svg-icon="file:folder"></md-icon>
      <md-icon class="md-accent overlap-icon-front"
               md-svg-icon="action:view_module"></md-icon>
      <md-tooltip>Convert to Board</md-tooltip>
    </md-button>

    <md-button class="md-icon-button"
               ng-show="card.items[
                 card.selection.lastSelection()
               ].isBoard === true"
               ng-click="card.boardToFolder()"
               aria-label="'De-activate Board'">
      <md-icon class="md-primary overlap-icon-back"
               md-svg-icon="action:view_module"></md-icon>
      <md-icon class="md-accent overlap-icon-front"
               md-svg-icon="file:folder"></md-icon>
      <md-tooltip>Convert to Folder</md-tooltip>
    </md-button>
    -->

    <md-button class="md-icon-button md-primary first-button"
               ng-click="card.remove()"
               ng-disabled="card.readOnly || !card.isSelection"
               aria-label="'Delete selected files'">
      <md-icon md-svg-icon="action:delete"></md-icon>
      <md-tooltip>
        Delete Selected
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-primary"
               ng-click="card.rename()"
               ng-if="card.isSelection"
               ng-disabled="card.readOnly"
               aria-label="'Rename last selected file'">
      <md-icon md-svg-icon="image:edit"></md-icon>
      <md-tooltip>
        Rename {{card.selection.lastSelection()}}
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-primary"
               ng-click="card.create()"
               ng-if="!card.isSelection"
               ng-disabled="card.readOnly"
               aria-label="'Add file'">
      <md-icon md-svg-icon="content:add"></md-icon>
      <md-tooltip>
        Add new file
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-primary"
               ng-click="card.createDir()"
               ng-disabled="card.readOnly"
               aria-label="'Create Directory'">
      <md-icon md-svg-icon="file:create_new_folder"></md-icon>
      <md-tooltip>
        Add Folder
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-primary"
               ng-click="card.link()"
               ng-disabled="card.readOnly"
               aria-label="'Symlink File'">
      <md-icon md-svg-icon="content:link"></md-icon>
      <md-tooltip>
        Symlink File
      </md-tooltip>
    </md-button>

    <md-button class="md-icon-button md-primary"
               ng-click="card.paste()"
               ng-disabled="card.readOnly || !card.xcActive"
               aria-label="'Symlink File'">
      <md-icon md-svg-icon="content:content_paste"></md-icon>
      <md-tooltip>
        Paste
      </md-tooltip>
    </md-button>

  </md-divider>
</div>
