/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
file-system-card {
  height: 356px;
  position: relative;
}

file-system-card .flag-bar {
  min-height: 8px;
}

file-system-card .card-heading {
  height: 48px;
  min-height: 48px;
  padding: 0 8px;
  cursor: pointer;
}

file-system-card .card-heading .card-heading-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 8px 0 8px 8px;
  width: calc(100% - 20px);
}


file-system-card .scroller {
  height: 244px;
  position: relative;
  outline: none;
}

file-system-card .scroller > [ng-transclude] {
  margin: 0;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  box-sizing: border-box;
  height: calc(100% - 8px);
}

file-system-card .file-item:hover {
  opacity: 0.75;
}

file-system-card .scroller > [ng-transclude] > .negative {
  min-height: 64px;
}

file-system-card md-divider.md-actions {
  margin-left: 0;
  margin-right: 0;
}


file-system-card .md-actions .md-button.md-icon-button {
  margin-top: 0;
  margin-bottom: 0;
}

file-system-card .md-actions .md-button.md-icon-button.first-button {
  margin-left: 4px;
}

file-system-card .md-actions .md-button.md-icon-button.double-icon {
  position: relative;
}

file-system-card .md-button.md-icon-button .overlap-icon-back {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 8px;
  left: 8px;
}

file-system-card .md-button.md-icon-button .overlap-icon-front {
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 8px;
  right: 8px;
}
