<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-tabs class="ribbon"
         md-selected="ribbon.index"
         md-center-tabs="false"
         md-dynamic-height="true">

  <md-tab id="Help"
          class="tab-label"
          aria-controls="Toolbar-Help">
    <md-tab-label>
      <md-icon class="tab-icon md-accent"
               md-font-icon="mdi mdi-help-circle"></md-icon>
      <span></span>
      <span class="tab-text" hide show-gt-sm>
        Help
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="Card"
          md-on-select="ribbon.display.global = 'card'"
          aria-controls="Toolbar-Card">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-window-maximize"></md-icon>
        <span hide show-gt-sm>
          Card
        </span>
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="Board"
          aria-controls="Toolbar-Board">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-view-module"></md-icon>
        <span hide show-gt-sm>
          Board
        </span>
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="File"
          md-on-select="ribbon.display.global = 'file'"
          aria-controls="Toolbar-File">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-file"></md-icon>
        <span hide show-gt-sm>
          File
        </span>
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="Compile"
          md-on-select="ribbon.display.global = 'file'"
          aria-controls="Toolbar-Compile">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-play"></md-icon>
        <span hide show-gt-sm>
          Compile
        </span>
      </span>
    </md-tab-label>
  </md-tab>

  <md-tab id="Tools"
          aria-controls="Toolbar-Tools">
    <md-tab-label>
      <span class="tab-text">
        <md-icon class="tab-icon md-primary"
                 md-font-icon="mdi mdi-magnify"></md-icon>
        <span hide show-gt-sm>
          Tools
        </span>
      </span>
    </md-tab-label>
  </md-tab>

</md-tabs>


<md-toolbar class="ribbon-toolbar"
            ng-switch="ribbon.index">

  <!-- Help Menu -->
  <div ng-switch-when="0"
       id="Toolbar-Help"
       class="md-toolbar-tools"
       aria-labelledby="Help">
    <toolbar-button name="About"
                    icon="information"
                    click="ribbon.help.about()"
                    tooltip="About Syntropize"></toolbar-button>
  </div>

  <!-- Card Menu -->
  <div ng-switch-when="1"
       id="Toolbar-Card"
       class="md-toolbar-tools"
       aria-labelledby="Card">
    <md-menu>
      <toolbar-button name="Add"
                      icon="plus-box"
                      click="$mdOpenMenu()"
                      disabled="ribbon.readOnly"
                      tooltip="Add Card"></toolbar-button>
      <md-menu-content width="1">
        <toolbar-menu-button ng-repeat="type in ribbon.cardTypes"
                             name="Add {{::type}} Card"
                             icon="plus-box"
                             click="ribbon.panel('BoardSimpleCardAdd',type)"
                             tooltip="Add a new {{::type}} card"></toolbar-menu-button>
      </md-menu-content>
    </md-menu>
    <toolbar-button name="Transclude"
                    icon="import"
                    click="ribbon.card.transclude()"
                    disabled="ribbon.readOnly"
                    tooltip="Transclude Card"></toolbar-button>
    <toolbar-button name="Edit"
                    icon="pencil-box"
                    click="ribbon.panel('BoardSimpleCardEdit',ribbon.selection.cards.lastSelection())"
                    disabled="!ribbon.selection.cards.selection() || ribbon.readOnly"
                    tooltip="Edit Last Selected Card"></toolbar-button>
    <md-menu>
      <toolbar-button name="Delete"
                      icon="minus-box"
                      click="$mdOpenMenu()"
                      disabled="!ribbon.selection.cards.selection() || ribbon.readOnly"
                      tooltip="Delete Cards"></toolbar-button>
      <md-menu-content width="1">
        <toolbar-menu-button name="Delete Cards Only"
                             icon="minus-box"
                             click="ribbon.card.remove('CARDS')"
                             tooltip="Delete Cards Only"></toolbar-menu-button>
        <toolbar-menu-button name="Delete Board"
                             icon="minus-box"
                             click="ribbon.card.remove('BOARD')"
                             tooltip="Delete Board"></toolbar-menu-button>
        <toolbar-menu-button name="Delete Board and Contents"
                              icon="minus-box"
                              click="ribbon.card.remove('ALL')"
                              tooltip="Delete Board and Contents"></toolbar-menu-button>
      </md-menu-content>
    </md-menu>
    <span class="separator"></span>

    <toolbar-button name="Cut"
                    icon="content-cut"
                    click="ribbon.card.cut()"
                    disabled="ribbon.readOnly"
                    tooltip="Cut Selected Cards"></toolbar-button>
    <toolbar-button name="Copy"
                    icon="content-copy"
                    click="ribbon.card.copy()"
                    disabled=""
                    tooltip="Copy Selected Cards"></toolbar-button>
    <!--Paste Drop Down-->
    <md-menu>
      <toolbar-button name="Paste"
                      icon="content-paste"
                      click="$mdOpenMenu()"
                      disabled="ribbon.readOnly || !ribbon.card.pasteActive"
                      tooltip="Paste Cards"></toolbar-button>
      <md-menu-content width="1">
        <toolbar-menu-button name="Paste Cards Only"
                             icon="plus-box"
                             click="ribbon.card.paste('CARDS')"
                             tooltip="Paste Cards Only"></toolbar-menu-button>
        <toolbar-menu-button name="Paste Board"
                             icon="plus-box"
                             click="ribbon.card.paste('BOARD')"
                             tooltip="Paste Board"></toolbar-menu-button>
        <toolbar-menu-button name="Paste Board and Contents"
                             icon="plus-box"
                             click="ribbon.card.paste('ALL')"
                             tooltip="Paste Board and Contents"></toolbar-menu-button>
      </md-menu-content>
    </md-menu>
    <toolbar-button name="Clear"
                    icon="selection-off"
                    click="ribbon.card.clearXC()"
                    disabled="!ribbon.card.pasteActive"
                    tooltip="Copy Selected Cards"></toolbar-button>
    <span class="separator"></span>

    <toolbar-button name="Install"
                    icon="download"
                    click=""
                    disabled="true"
                    tooltip="Install Compile Script"></toolbar-button>
    <toolbar-button name="Reload All"
                    icon="reload"
                    click="$mdOpenMenu()"
                    tooltip="Reload All Cards Templates"></toolbar-button>
  </div>

  <!-- Board Menu-->
  <div ng-switch-when="2"
       id="Toolbar-Board"
       class="md-toolbar-tools"
       aria-labelledby="Board">
    <!--
    <toolbar-button name="Reposition"
                    icon="redo-variant"
                    click=""
                    disabled=""
                    tooltip="Reposition Cards"></toolbar-button>

    <p class="md-caption">TO:</p>
    <input type="number"
           ng-model="newPosition"
           style="width:50px;" />
    -->
    <!--
    <div>
      <md-icon md-menu-origin
               class="tool-icon"
               md-font-icon="mdi mdi-numeric"></md-icon>
      <span class="md-body-2">ORDER</span>
    </div>
    -->
    <toolbar-button name="Save Order"
                    icon="content-save"
                    click="ribbon.saveOrder()"
                    disabled="ribbon.readOnly"
                    tooltip="Save the current order of cards"></toolbar-button>
    <toolbar-button name="Revert Order"
                    icon="backup-restore"
                    click="ribbon.revertOrder()"
                    tooltip="Revert to last saved card order"></toolbar-button>
  </div>

  <!-- File Menu -->
  <div ng-switch-when="3"
       id="Toolbar-File"
       class="md-toolbar-tools"
       aria-labelledby="File">
    <!-- New File Drop Down-->
    <md-menu>
      <toolbar-button name="New"
                      icon="plus-box"
                      click="$mdOpenMenu()"
                      disabled="ribbon.readOnly"
                      tooltip="New File Menu"></toolbar-button>
      <md-menu-content width="1">
        <toolbar-menu-button name="New File"
                             icon="file-plus"
                             click="ribbon.file.create()"
                             tooltip="Add a new File"></toolbar-menu-button>
        <toolbar-menu-button name="New Folder"
                             icon="folder-plus"
                             click="ribbon.file.createDir()"
                             tooltip="Add a new Folder"></toolbar-menu-button>
      </md-menu-content>
    </md-menu>
    <!-- Add File Dropdown -->
    <md-menu>
      <toolbar-button name="Add"
                      icon="plus-box"
                      click="$mdOpenMenu($event)"
                      disabled="ribbon.readOnly"
                      tooltip="Add File Menu"></toolbar-button>
      <md-menu-content width="2">
        <md-menu-item class="toolbar-menu-button" ng-click="$mdMenu.hide()">
          <label for="add-file-to-card"
                 class="md-button toolbutton md-ink-ripple"
                 tooltip="Add File to Selected Card">
            <md-icon class="tool-icon md-accent"
                     md-font-icon="mdi mdi-plus-box"
                     md-menu-align-target></md-icon>
            <p class="tool-name md-body-2">
              Add Files
            </p>
          </label>
          <input ng-hide="true"
                id="add-file-to-card"
                type="file" nw-file-input multiple="multiple"
                on-file-change="ribbon.file.add" />
        </md-menu-item>
        <md-menu-item class="toolbar-menu-button" ng-click="$mdMenu.hide()">
          <label for="add-folder-to-card"
                  class="md-button toolbutton md-ink-ripple"
                  tooltip="Add Folder to Selected Card">
            <md-icon class="tool-icon md-accent"
                      md-font-icon="mdi mdi-plus-box"
                      md-menu-align-target></md-icon>
            <p class="tool-name md-body-2">
              Add Folder
            </p>
          </label>
          <input ng-hide="true"
                  id="add-folder-to-card"
                  type="file" nw-file-input nwdirectory
                  on-file-change="ribbon.file.addDir" />
        </md-menu-item>
      </md-menu-content>
    </md-menu>
    <toolbar-button name="Delete"
                    icon="delete"
                    click="ribbon.file.remove()"
                    disabled="ribbon.readOnly"
                    tooltip="Delete Selected Files"></toolbar-button>

    <span class="separator"></span>
    <toolbar-button name="Cut"
                    icon="content-cut"
                    click="ribbon.file.cut()"
                    disabled="ribbon.readOnly"
                    tooltip="Cut Selected Files"></toolbar-button>
    <toolbar-button name="Copy"
                    icon="content-copy"
                    click="ribbon.file.copy()"
                    tooltip="Copy Selected Files"></toolbar-button>
    <toolbar-button name="Paste"
                    icon="content-paste"
                    click="ribbon.file.paste()"
                    disabled="ribbon.readOnly || !ribbon.file.pasteActive"
                    tooltip="Paste Files"></toolbar-button>
    <toolbar-button name="Clear"
                    icon="selection-off"
                    click="ribbon.file.clearXC()"
                    disabled="!ribbon.file.pasteActive"
                    tooltip="Clear Selection"></toolbar-button>
  </div>

  <!-- Compile Menu -->
  <div ng-switch-when="4"
       id="Toolbar-Compile"
       class="md-toolbar-tools"
       aria-labelledby="Compile">
    <toolbar-button name="Install"
                    icon="download"
                    click=""
                    disabled="true"
                    tooltip="Install Compile Script"></toolbar-button>
    <md-menu>
      <toolbar-button name="Compile"
                      icon="play"
                      click="$mdOpenMenu()"
                      disabled="ribbon.readOnly"
                      tooltip="Compile Files"></toolbar-button>
      <md-menu-content width="3">
        <!-- Unclickable Heading -->
        <!--
        <md-menu-item>
          <span md-no-ink class="md-button"
                style="cursor:default; background-color:white;">
            <md-icon class="tool-icon md-accent"
                     md-font-icon="mdi mdi-build"
                     md-menu-align-target
                     style="font-size:24px">
            </md-icon>
            <p md-primary class="md-body-2"
               style="margin-left:-10px;">Compile</p>
          </span>
        </md-menu-item>
        -->
        <toolbar-menu-button name="Run"
                             icon="play"
                             md-menu-align-target
                             click="ribbon.panel(
                               'Run',
                               ribbon.selectionAggr.cardSelectedFiles,
                               ribbon.selectionClear
                             )"
                             tooltip=""></toolbar-menu-button>
        <toolbar-menu-button-2 ng-repeat="type in ribbon.compileTypes"
                               name="{{::type}}"
                               icon="{{::ribbon.runIcon(type)}}"
                               click="ribbon.run.script(
                                 type,
                                 ribbon.selectionAggr.cardSelectedFiles,
                                 ribbon.selectionClear
                               )"
                               tooltip="Compile Files in {{type}}"></toolbar-menu-button-2>
      </md-menu-content>
    </md-menu>
  </div>

  <!-- Sidepanel Menu -->
  <div ng-switch-when="5"
       id="Toolbar-Tools"
       class="md-toolbar-tools"
       aria-labelledby="Tools">
    <!--
    <toolbar-button name="Files"
                    icon="file-document"
                    click="ribbon.panel('files')"
                    tooltip="See Files"></toolbar-button>
    -->
    <toolbar-button name="Details"
                    icon="playlist-plus"
                    click="ribbon.panel('BoardSimpleCardDetails')"
                    tooltip="See Card Details"></toolbar-button>
    <toolbar-button name="Search"
                    icon="filter"
                    click="ribbon.panel('BoardSimpleCardSearch')"
                    tooltip="Search Cards"></toolbar-button>
    <toolbar-button name="Sort"
                    icon="sort"
                    click="ribbon.panel('BoardSimpleCardSort')"
                    tooltip="Sort Cards"></toolbar-button>
  </div>
</md-toolbar>
