<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div ng-if="!properties.name">
  <md-subheader>
    <span>Select a file to view all its properties</span>
  </md-subheader>
</div>

<div layout-margin
     ng-if="!!properties.name">

  <div class="file-name"
       layout="row" layout-align="left center">
    <h1 class="md-title"
        layout-align="left center">
      {{properties.name}}
    </h1>
    <span flex></span>
    <span class="md-subhead" md-colors="{color:'accent'}">
      {{properties.selection}}
    </span>
  </div>

  <div>
    <table>
      <tr>
        <td class="left">Size</td>
        <td>{{properties.files.size | filesize}}</td>
      </tr>
      <tr>
        <td class="left">Modified</td>
        <td>{{properties.files.mtime |
              date:'dd-MM-yyyy hh:mm a'}}</td>
      </tr>
    </table>
  </div>

</div>
