<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<style>
  card-details .card-heading h1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: calc(100% - 20px);
  }

  card-details .card-heading span {
    font-weight: 500;
  }

  card-details table td.left {
    padding: 2px 10px 2px 15px;
    text-align: right;
    font-weight: 800;
  }
</style>

<div ng-if="!details.key">
  <md-subheader>
    <span>Select a card to view all its contents</span>
  </md-subheader>
</div>

<div ng-if="!!details.key"
     layout-margin>
  <div class="card-heading"
       layout="row" layout-align="left center">
    <h1 class="md-title"
        layout-align="left center">
      {{details.card.contents.title}}
    </h1>
    <span flex></span>
    <span class="md-subhead" md-colors="{color:'accent'}">
      {{details.selection}}
    </span>
  </div>

  <div>
    <table>
      <tr ng-show="details.card.core.tags.length" aria-label="Card Tags">
        <td class="left">Tags</td>
        <td>{{details.card.core.tags.join(', ')}}</td>
      </tr>
      <tr>
        <td class="left">Modified</td>
        <td>{{details.file.mtime |
              date:'dd-MM-yyyy hh:mm a'}}</td>
      </tr>
      <tr>
          <td class="left">Size</td>
          <td>{{details.file.size | filesize}}</td>
        </tr>
    </table>
  </div>

</div>
