<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<!--
<card-form card="input.form.card"
           key="input.form.key"
           name="input.form.name"
           ng-if="!!input.form.card"
           valid="{
             'uniqueName':input.valid.isUnique(input.form.key),
             'legalName':input.valid.isLegal(input.form.key)
           }">
</card-form>
-->

<style>
  .card-input .category {
    font-size: 18px;
  }

  .card-input .property {
    font-size: 16px;
    font-weight: 500;
  }

  .card-input color-picker-radio {
    padding: 8px 0;
  }
</style>

<div ng-if="input.form.card">
  <md-content class="card-input" ng-form="input.form.name" novalidate>
    <md-subheader class="md-accent category">
      Core
    </md-subheader>

    <div class="card-form-contents"
        layout="column"
        layout-margin>
      <!-- TODO <dropdown ng-model = input.form.card.core.type></dropdown> -->
      <!-- TODO Unify Name and Title -->
      <md-input-container flex
                          ng-if="input.form.key!=='.'">
        <label>Name</label>
        <input required name="key" type="text"
               ng-model="input.form.key"
               ng-model-options="{
                 debounce: { default: 500 },
                 allowInvalid: true
               }"
               ui-validate="{
                 legalName: 'input.valid.isLegal(input.form.key)',
                 uniqueName: 'input.valid.isUnique(input.form.key)'
               }"
               ui-validate-watch="'input.form.key'"></input>
        <div ng-messages="input.form.name.key.$error"
             ng-show="input.form.name.$dirty">
          <div ng-message="legalName"
               ng-show="input.form.name.key.$error.legalName">
            Special Characters are NOT allowed
          </div>
          <div ng-message="uniqueName"
               ng-show="input.form.name.key.$error.uniqueName">
            A Unique Card Name is Required
          </div>
          <div ng-message="required"
               ng-show="input.form.name.key.$error.required">
            Enter a new Card Name
          </div>
        </div>
      </md-input-container>

      <div>
        <label class="property md-background">Layouts</label>
        <md-list ng-if="input.form.key!=='.'">
          <md-list-item class="secondary-button-padding">
            <md-icon class="md-primary md-avatar-icon"
                     md-svg-icon="file:folder"></md-icon>
            <p>File List</p>
            <md-switch aria-label="Enable File"
                       class="md-secondary"
                       ng-disabled="true"
                       ng-model="input.trueVal">
            </md-switch>
          </md-list-item>
          <md-list-item class="md-primary secondary-button-padding">
            <md-icon class="md-primary md-avatar-icon" md-svg-icon="action:view_quilt"></md-icon>
            <p>Board Simple</p>
            <md-switch aria-label="Enable Board"
                       class="md-secondary"
                       ng-disabled="input.form.key==='.'"
                       ng-model="input.form.board">
            </md-switch>
          </md-list-item>
        </md-list>
      </div>

      <div>
        <label class="property md-background">Color</label>
        <div layout="column" layout-align="center center">
          <color-picker-radio colors="['#ccff90', '#80d8ff', '#ff8a80', '#ffff8d']"
                              layout="row"
                              layout-align="center center"
                              model="input.form.card.core.color"></color-picker-radio>
        </div>
      </div>
    </div>

    <md-subheader class="md-primary category">
      Contents - {{input.form.card.core.type}}
    </md-subheader>

    <div class="card-form-contents"
        layout="column"
        layout-margin>
      <card-form-host contents="input.form.card.contents"
                      form-name="input.form.name.contents"
                      type="{{input.form.card.core.type}}"></card-form-host>
    </div>

    <md-subheader class="md-primary category">
      Properties
    </md-subheader>

    <div class="card-form-contents"
        layout="column"
        layout-margin>
      <md-chips md-enable-chip-edit="true"
                ng-model="input.form.card.core.tags"
                placeholder="Add Tags"></md-chips>
    </div>

  </md-content>

</div>
