<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<style>
  card-sort md-icon.pre-element {
    margin-right: 4px;
  }
</style>

<md-content class="autoScroll">

  <md-subheader class="md-no-sticky">
    UNIVERSAL
  </md-subheader>
  <div layout="column" layout-margin>
    <md-input-container class="md-icon-float md-block">
      <label>Search All</label>
      <md-icon md-primary
               md-svg-icon="content:filter_list"></md-icon>
      <input ng-model="search.filter.value.$"
             ng-model-options="{ debounce: 500 }"
             type="text" />
    </md-input-container>
  </div>

  <md-subheader class="md-no-sticky">
    BY PROPERTY
  </md-subheader>
  <div layout="column">
    <div layout="row" layout-align="space-between center" layout-margin>
      <md-input-container class="md-icon-float md-block">
        <label>Title</label>
        <md-icon md-svg-icon="editor:title"></md-icon>
        <input ng-model="search.filter.value.contents.title"
               type="text" />
      </md-input-container>
      <md-button class="md-icon-button"
                 ng-click="search.filter.value.contents.title = undefined;"
                 ng-disabled="!search.filter.value.contents.title"
                 aria-label="Clear Search by Title">
        <md-icon class="md-warn"
                 md-svg-icon="navigation:cancel"></md-icon>
      </md-button>
    </div>

    <div layout="row" layout-align="space-between center" layout-margin>
      <md-icon class="md-primary pre-element"
               md-svg-icon="image:texture"></md-icon>
      <md-select flex
                 ng-model="search.filter.value.core.type"
                 placeholder="Type">
        <md-option flex
                   ng-repeat="(type,item) in search.cardRegistry.items"
                   ng-value="type">
          {{type|uppercase}}
        </md-option>
      </md-select>
      <md-button class="md-icon-button"
                 ng-click="search.filter.value.core.type = undefined;"
                 ng-disabled="!search.filter.value.core.type"
                 aria-label="Clear Search by Card Type">
        <md-icon class="md-warn"
                 md-svg-icon="navigation:cancel"></md-icon>
      </md-button>
    </div>

  </div>

</md-content>
