<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div class="main" layout-column layout-align="center start">

  <header layout-row layout-margin layout-padding layout-align="center" md-theme="default">
    <div layout-column layout-padding layout-align="center start">
            <div layout-row layout-align="center" class="layout-row md-display-1" md-colors="{color:'warn'}">Error!</div>
            <div layout-row layout-align="center" class="layout-row md-title" d-colors="{color:'primary'}">Location not found</div>
        </div>
  </header>

  <article class="overview" layout-row layout-align="center">

    <md-card>
      <md-card-content>
        <p>If you are seeing this message, it means that:</p>
        <ul>
          <li><span class="syntropize">Syntropize</span> tried to visit an invalid location and</li>
          <li>the fallback location is not correctly set or has been deleted.</li>
        </ul>
        <p>Please set up the fallback location by editing the <code>initialize.home</code> property in <code>settings.json</code> and ensuring that the location exists. The path is specified relative to the directory containing <code>package.json</code>.</p>.
      </md-card-content>
    </md-card>

  </article>
</div>
