<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div class="main" layout-column layout-padding layout-align="center start">

  <header layout-row layout-margin layout-padding layout-align="center" md-theme="default">
    <div layout-row layout-align="center" class="layout-row md-display-1" md-colors="{color:'warn'}">Error!</div>
  </header>

  <article class="overview" layout-row layout-align="center">

    <md-card>
      <md-card-content>
        This is unfortunate, there seems to be an error which has prevented <span class="syntropize">Syntropize</span> from launching.
        <ul>
          <li>Using the Developer Tools <span class="highlight">Right Click > Inspect</span> you can examine the error stack.
          <li>You can file a report on the <span class="syntropize">Syntropize</span> <a href="http://gitlab.com/syntropize/syntropize/-/issues">Bug Tracker</a>.
        </ul>
      </md-card-content>
    </md-card>

  </article>
</div>
