/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.main {
  background-color: white;
  max-width: 1000px;
  margin: 8px auto;
}

.main .syntropize {
  /* font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif; */
  font-style: normal;
  text-transform: none;
}

.main .highlight, .main code {
  background-color: #f9f2f4;
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
}

.main .overview {
  margin: 16px;
  padding: 16px;
  font-size: 16px;
  letter-spacing: 0.009em;
  line-height: 1.5em;
}

.main .overview a {
  color: #1565C0;
  text-decoration: none;
}

.main .overview a:hover {
  border-bottom: 2px solid;
}

.main .overview li {
  line-height: 1.75em;
}
