<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<style>
text-card-input .field {
  margin: 8px 0;
}
</style>
<div layout="column"
     ng-form="template.formName">
  <md-input-container class="selectable field"
                      flex>
    <label>Title</label>
    <input name="title"
           ng-model="template.contents.title"
           spellcheck />
  </md-input-container>

  <md-input-container class="selectable field"
                      flex>
    <label>Text</label>
    <textarea name="text"
              ng-model="template.contents.text"
              spellcheck></textarea>
  </md-input-container>
</div>
