/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
text-card-display {
  height: inherit;
  display: block;
  position: relative;
}


text-card-display .card-title {
  height: 56px;
  min-height: 56px;
  padding: 0 8px;
  cursor: pointer;
}

text-card-display .card-title .flag-bar {
  min-height: 8px;
}

text-card-display .card-title .card-title-text {
  width: calc(100% - 20px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 8px 0 8px 8px;
}


text-card-display .card-lens .scroller {
  position: relative;
  overflow: hidden;
  height: 172px;
}

text-card-display .card-lens p.md-body-1 {
  white-space: pre-line;
  margin: 0 auto;
  padding: 6px 16px 0 16px;
  hyphens: auto;
  font-size: 1em;
  line-height: 21px;
  height: calc(100% - 68px); /* 56px for heading + 12px for footer */
}


text-card-display .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 8px;
}
