/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.color-pick {
  /* display: block;
     height: 72px; */
  min-width: 272px;
}

.color-pick .color-label {
  font-size: 0;
}

.color-pick .color-label > input {
  display: none;
}

.color-pick .color-label > div {
  display: inline-block;
  height: 48px;
  width: 48px;
}

.color-pick .color-label > input[type="radio"] + div {
  /* IMAGE STYLES */
  border: 6px solid transparent;
  cursor: pointer;
  margin: 4px;
  width: 48px;
}

.color-pick .color-label > input[type="radio"]:checked + div {
  /* (CHECKED) IMAGE STYLES */
  border: 6px solid #000;
  margin: 4px;
}
