<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-dialog class="about-dialog"
           ng-cloak
           aria-label="Help-About">

  <md-toolbar md-primary>
    <div class="md-toolbar-tools">
      <h2>About</h2>
      <span flex></span>
      <md-button class="md-icon-button"
                 ng-click="dialog.cancel()">
        <md-icon md-svg-icon="navigation:close"
                 aria-label="Close Help About"></md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <md-dialog-content class="about-dialog-content">
    <div class="md-dialog-content">
      <h1 class="md-title">
        {{::dialog.about.title}} v{{::dialog.about.version}}
      </h1>
      <about-content dialog="dialog"></about-content>
    </div>
  </md-dialog-content>

</md-dialog>
