<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-content layout="column" layout-padding
            ng-form="run.form" novalidate>
  <div class="md-caption">
    <em>
      <strong>Hint:&nbsp;</strong>
      Expression &lt;files&gt; will be replaced by your actual file selection on the left. No need to type filenames.
    </em>
  </div>

  <div class="command">
    <md-input-container class="md-block">
      <label>Command</label>
      <input type="text" name="command" required
             ng-model="run.command"
             ng-model-options="{debounce: {default: 500}}"/>
    </md-input-container>
  </div>
  <div class="args"
       layout="column">
    <div class="heading"
         layout="row" layout-align="space-between center">
      <em>Arguments</em>
      <md-button class="md-fab md-mini md-primary"
                 ng-click="run.addArgument()"
                 aria-label="Add New Argument">
        <!-- <md-icon md-svg-icon="navigation:cancel"></md-icon> -->
        <md-icon md-svg-icon="content:add"></md-icon>
      </md-button>
    </div>

    <div class="arg"
         layout="row" layout-align="space-between start"
         ng-repeat="(i, arg) in run.args">
      <div class="entry">
        <md-input-container class="md-block">
          <label>Argument {{i + 1}}</label>
          <input ng-model="arg.text" />
        </md-input-container>
      </div>
      <md-button class="md-icon-button md-accent"
                 ng-click="run.removeArgument($index)"
                 aria-label="Add New Argument">
        <md-icon md-svg-icon="content:remove_circle"></md-icon>
      </md-button>
    </div>
  </div>
</md-content>
