/*!
 *  Copyright (c) 2016, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
run .md-caption {
  margin: 6px 0;
}

run .command {
  padding-left: 6px;
}


run .args .heading {
  position: relative;
  border-bottom: solid black 1px;
  margin-bottom: 30px;
}

run .args .heading em {
  padding: 2px;
}

run .args .heading .md-button {
  position: absolute;
  right: -6px;
  bottom: -26px;
}

run .args .arg {
  margin-bottom: 0;
}

run .args .arg .md-button {
  margin: 6px 2px;
  padding-top: 16px;
  padding-bottom: 0;
}

run .args .arg .entry {
  flex: 1;
}

run .args .arg .entry md-input-container {
  margin-bottom: 0;
}
