/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
view-board-simple {
  height: 100%;
  display: flex;
  overflow: none;
}

.board {
  outline: none;
  overflow-y: auto;
}

/* ANIMATION LOGIC */

.test {
  float: left;
  border: 4px solid red;
  width: 100px;
  height: 50px;
  background-color: skyblue;
}

.repeated-item.ng-leave ~ * :not(.ng-leave) {
  transition: 0.5s ease all;
}

.repeated-item.ng-leave.ng-leave-active ~ * :not(.ng-leave) {
  margin-left: -100px;
}

.repeated-item.ng-enter {
  transition: 0.5s ease all;
  opacity: 0;
}

.repeated-item.ng-enter.ng-enter-active {
  opacity: 1;
}

/*
 The ng-enter-active and ng-move-active
 are where the transition destination properties
 are set so that the animation knows what to
 animate.
*/

.repeated-item.ng-move {
  transition: 0.5s ease all;
  opacity: 0;
}

.repeated-item.ng-move.ng-move-active {
  opacity: 1;
}

/*
  We're using CSS keyframe animations for when
  the leave event is triggered for the element
  that has the .repeated-item class
*/
.repeated-item.ng-leave {
  animation: 0.5s my_animation;
}

@keyframes my_animation {
  from { opacity: 1; }
  to { opacity: 0; }
}

/*
  Unfortunately each browser vendor requires
  its own definition of keyframe animation code...
*/
@-webkit-keyframes my_animation {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-moz-keyframes my_animation {
  from { opacity: 1; }
  to { opacity: 0; }
}

@-o-keyframes my_animation {
  from { opacity: 1; }
  to { opacity: 0; }
}
