<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<view-board-simple_ribbon></view-board-simple_ribbon>
<div class="board"
     flex layout="row" layout-align="start start"
     layout-fill layout-margin layout-wrap
     ng-click="board.selection.cards.clear()"
     dragula="'card-bag'" dragula-model="board.displayCards">

  <!-- There seems to be some kind of regression with the orderBy filter which does not work for undefined variable  -->
  <card-shell ng-show="([item.value] |
                filter: board.search.filter.value).length > 0"
              ng-repeat="item in board.displayCards |
                         orderBy: (board.sort.index.direction ? '+' : '-') |
                         orderBy: board.sort.order |
                         orderBy: board.sort.global
                         track by item.key"
              key="{{item.key}}"
              index="{{item.index}}">
  </card-shell>

</div>
