/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.dialog .dialog-toolbar {
  height: 48px;
  min-height: 48px;
}

.dialog .dialog-content {
  min-width: 360px;
  max-width: 800px;
  max-height: 800px;
}

.dialog .hidden-dialog-trigger {
  opacity: 0;
  height: 0;
  width: 0;
}
