<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div>

  <div class="flag-bar"></div>
  <div class="card-heading"
       layout="row" layout-align="start center">
    <div class="md-headline card-heading-text">
      {{card.key}}
    </div>
  </div>


  <div class="card-lens"
       layout="column" layout-align="center center">
    <div layout="column" layout-align="center center"
         ng-show="card.template.status === 'Loading'">
      <md-progress-circular md-accent
                            md-mode="indeterminate">
      </md-progress-circular>
      <div class="md-subhead">Loading...</div>
    </div>

    <div layout="column" layout-align="center center"
         ng-show="card.template.status === 'Failure'">
      <md-icon class="md-accent"
               md-svg-icon="alert:warning">
      </md-icon>
      <div class="md-subhead">Load Failed!</div>
      <md-button class="md-raised md-primary"
                 ng-click="card.template.refresh()">
        <md-icon md-svg-icon="navigation:refresh"></md-icon>
        <span>Reload</span>
      </md-button>
    </div>

    <div layout="column" layout-align="center center"
         ng-show="card.template.status === 'Unloaded'">
      <md-icon md-svg-icon="content:block">
      </md-icon>
      <div class="md-subhead">Not Loaded!</div>
      <md-button md-raised
                 ng-click="card.template.load()">
        <md-icon md-svg-icon="navigation:refresh"></md-icon>
        <span>Reload</span>
      </md-button>
    </div>

    <div layout="column" layout-align="center center"
         ng-show="!card.template.status">
      <md-icon md-svg-icon="content:block">
      </md-icon>
      <div class="md-subhead">Invalid Card Type</div>
      <div class="md-subhead">"{{card.type}}"</div>
      <md-button md-raised
                 ng-click="card.template.load()">
        <md-icon md-svg-icon="navigation:refresh"></md-icon>
        <span>Reload</span>
      </md-button>
    </div>

  </div>

</div>
