/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
template-system-card {
  height: 236px;
  position: relative;
}

template-system-card .flag-bar {
  min-height: 8px;
}

template-system-card .card-heading {
  height: 48px;
  min-height: 48px;
  padding: 0 8px;
  cursor: pointer;
}

template-system-card .card-heading .card-heading-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 8px 0 8px 8px;
  width: calc(100% - 20px);
}


template-system-card .card-lens {
  margin: 20px 0;
}

template-system-card .card-lens md-icon {
  height: 48px;
  width: 48px;
}
