<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div class="page-list"
     flex layout="column" layout-align="start" layout-fill
     ng-click="pageList.selection.clear(); $event.stopPropagation();">

  <md-toolbar class="md-accent ribbon-toolbar">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button"
                 ng-click="pageList.close();"
                 aria-label="Close Section List">
        <md-icon class="md-warn"
                md-svg-icon="content:clear"></md-icon>
      </md-button>
      <toolbar-button name="Revert"
                      icon="backup-restore"
                      click="pageList.revertOrder()"
                      tooltip="Revert to last saved section order"></toolbar-button>
      <toolbar-button name="Save"
                      icon="content-save"
                      click="pageList.reorder()"
                      disabled="pageList.readOnly"
                      tooltip="Save the current section order"></toolbar-button>
    </div>
  </md-toolbar>

  <perfect-scrollbar class="scroller"
     opts="{
       suppressScrollX: true,
       minScrollbarLength: 20,
     }"
     ng-click="pageList.selection.clear()">

  <div dragula="'section-bag'" dragula-model="pageList.displaySections">

  <!-- ngClick below is used to stop propogation immediately -->
    <div ng-repeat="item in pageList.displaySections | orderBy:'+'"
         class="page-list-item"
         ng-class="{'top': pageList.isActiveSection(item.key)}"
         layout="row" layout-align="start center"
         md-ink-ripple="true"
         id="document-section-{{item.key}}"
         ng-sglclick="pageList.goto(item.key);"
         ng-click="$event.stopPropagation();"
         ng-dblclick="pageList.launch(item.key); $event.stopPropagation();"
         aria-label="Scroll-to-{{item.key}}-section-in-{{pageList.name}}">

      <div class="page-item-title">
        {{pageList.getTitle(item.key)}}
      </div>

      <md-button class="md-fab md-mini"
                 type="button"
                 ng-show="pageList.isSectionEnabled(item.key)"
                 ng-sglclick="pageList.open(item.key);"
                 ng-click="$event.stopPropagation();"
                 ng-dblclick="pageList.openFolder(item.key); $event.stopPropagation();"
                 aria-label="Open-External-'{{item.key}}'-in-card-{{pageList.key}}'">
        <md-icon md-svg-icon="content:create"></md-icon>
        <md-tooltip>Edit/Explore Section {{pageList.getTitle(item.key)}}</md-tooltip>
      </md-button>

      <md-button class="md-fab md-mini inactive"
                 type="button"
                 ng-hide="pageList.isSectionEnabled(item.key)"
                 ng-sglclick="pageList.start(item.key);"
                 ng-click="$event.stopPropagation();"
                 ng-dblclick="pageList.openFolder(item.key); $event.stopPropagation();"
                 aria-label="Open-External-'{{item.key}}'-in-card-{{pageList.key}}'">
        <md-icon md-svg-icon="content:create"></md-icon>
        <md-tooltip>Start/Explore Section {{pageList.getTitle(item.key)}}</md-tooltip>
      </md-button>

      <!-- <div ng-show="pageList.selection.isSelected(item.key)"
          class="file-select-corner"
          ng-class="{
            cut:pageList.xc.isCut(item.key),
            copy:pageList.xc.isCopied(item.key),
            selected:pageList.selection.isSelected(item.key),
            'last-selected':pageList.selection.isLastSelected(item.key)
          }">
      </div> -->

      <!-- <div class="md-subhead file-select-counter">
        {{pageList.selection.selectionNumber(item.key)}}
      </div> -->
      </div>

    </div>
  </perfect-scrollbar>
</div>
