/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.page-list {
  outline: none;
}

.page-list .page-list-item {
  margin: 4px;
  outline: none;
  height: 56px;
  position: relative;
  background-color: wheat;
}

.page-list .page-list-item:hover {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.08));
  background-blend-mode: multiply;
  cursor: default;
}

.page-list .page-list-item.top {
  background-color: white;
}

.page-list .page-list-item .md-button.md-fab.md-mini {
  min-width: 40px;
  box-shadow: none;
}

.page-list .page-list-item .md-button.md-fab.md-mini.inactive {
  background-color: rgba(0, 0, 0, 0.4);
}


/* Do not add .page-list as property is too specific for dragula delared deep inside <page-list> */
.page-list-item .page-item-title {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  width: 176px;
  line-height: 21px;
  margin: auto 8px;
}

.page-list .ribbon-toolbar .md-toolbar-tools {
  padding-left: 8px;
  padding-right: 8px;
}

.page-list .ribbon-toolbar .md-toolbar-tools toolbar-button .toolbutton {
  margin-left: 0;
  margin-right: 0;
}

/* Scroller */

.page-list .scroller {
  height: 100%;
  position: relative;
  outline: none;
}

.page-list .scroller > [ng-transclude] {
  margin: 0;
  width: 100%;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  box-sizing: border-box;
  height: calc(100% - 8px);
}


/* === Overlays === */

/* Selection */

.page-list .page-list-item .page-select-corner {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: 25;
  border-top-width: 42px;
  border-top-style: solid;
  border-right: 42px solid transparent;
}

.page-list .page-list-item .page-select-counter {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 24px;
  color: white;
  line-height: 26px;
  text-align: center;
  font-weight: 600;
  z-index: 26;
}

.page-list .page-list-item.selected {
  background-color: #7986cb;
}

.page-list .page-list-item.last-selected {
  background-color: #f06292;
}

/* XCV */

.page-list .page-list-item.cut {
  background-color: #e0e0e0;
}

.page-list .page-list-item.cut p {
  opacity: 0.5;
}

.page-list .page-list-item.copy {
  background-color: #e0e0e0;
}

.page-list .page-list-item .page-select-corner.selected {
  border-top-color: #3f51b5;
}

.page-list .page-list-item .page-select-corner.last-selected {
  border-top-color: #e91e63;
}

.page-list .page-list-item .page-select-corner.cut {
  border-top-color: #9e9e9e;
}

.page-list .page-list-item .page-select-corner.copy {
  border-top-color: #9e9e9e;
}

/*
.page-list .page-items {
  border: 0 solid white;
  border-radius: 4px;
}
*/

/*
.page-list-item .selector {
  z-index: 50;
  border-style: hidden;
  border-color: transparent;
  position: absolute;
  height: inherit;
}

.page-list-item .selector-left {
  /* Dont corner border as it messes up dotted and dashed
  width: 0;
  border-width: 0 0 0 6px;
  top: 0;
  bottom: 0;
  left: 0;
}

.page-list-item .selector-right {
  width: 0;
  border-width: 0 6px 0 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.page-list-item .selector-top {
  height: 0;
  border-width: 6px 0 0 0;
  top: 0;
  left: 0;
  right: 0;
}

.page-list-item .selector-bottom {
  height: 0;
  border-width: 0 0 6px 0;
  bottom: 0;
  left: 0;
  right: 0;
}
*/
