<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<!-- <div> -->
  <div class="card-title"
       layout="column"
       layout-align="center start">
    <div class="flag-bar"></div>
    <div class="md-headline card-title-text">
      {{template.contents.title}}
    </div>
  </div>

  <div class="card-lens">
    <perfect-scrollbar class="scroller"
                       min-scrollbar-length="20"
                       wheel-propagation="true"
                       wheel-speed="10">
      <div class="md-body-1 selectable">
        <div ng-show="!!template.contents.text">
          {{template.contents.text}}
        </div>
        <div ng-repeat="item in template.metadata">
          - {{item}}
        </div>
      </div>
    </perfect-scrollbar>
  </div>

  <div class="footer"></div>
<!-- </div> -->
