<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div class="list"
     flex layout="column" layout-align="start start" layout-wrap
     ng-click="fileList.selection.clear(); $event.stopPropagation();">

  <!-- ngClick below is used to stop propogation immediately -->
  <div ng-hide="item.key === ''"
       ng-repeat="item in fileList.displayItems | orderBy:'-'"
       class="file-item"
       ng-class="{
         'cut': fileList.clipboard.mode === 'X' && fileList.clipboard.has(item.key),
         'copy': fileList.clipboard.mode === 'C' && fileList.clipboard.has(item.key),
         'selected':fileList.selection.isSelected(item.key),
         'last-selected':fileList.selection.isLastSelected(item.key)
       }"
       layout="row" layout-align="start center"
       md-ink-ripple="true"
       ng-sglclick="fileList.selection.toggle(item.key);"
       ng-click="$event.stopPropagation();"
       ng-dblclick="fileList.launch(item.key); $event.stopPropagation()"
       aria-label="Select-file-'{{item.key}}'-in-card-{{fileList.key}}">

    <md-button class="md-fab md-mini"
               type="button"
               ng-click="fileList.open(item.key); $event.stopPropagation();"
               aria-label="Open-External-'{{item.key}}'-in-card-{{fileList.key}}'">
      <md-icon md-svg-icon="{{fileList.icon.fetch(fileList.key,item.key,item.value)}}"></md-icon>
    </md-button>

    <p>{{item.key}}</p>

    <div ng-show="fileList.selection.isSelected(item.key)"
         class="file-select-corner"
         ng-class="{
           selected:fileList.selection.isSelected(item.key),
           'last-selected':fileList.selection.isLastSelected(item.key)
         }">
    </div>

    <div class="md-subhead file-select-counter">
      {{fileList.selection.selectionNumber(item.key)}}
    </div>

  </div>
</div>
