/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
s-file-list .list {
  outline: none;
  margin: 8px 0;
}

.file-item {
  margin: 1px 0 1px 4px;
  border: 3px solid transparent;
  outline: none;
  height: 56px;
  width: calc(100% - 8px);
  position: relative;
}

.file-item:hover {
  background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.08));
  background-blend-mode: multiply;
  cursor: default;
}

.file-item .md-button.md-fab.md-mini {
  background-color: rgba(0, 0, 0, 0.4);
  min-width: 40px;
  box-shadow: none;
}

.file-item p {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  max-width: 212px;
  line-height: 21px;
  margin: auto 8px;
}


/* === Overlays === */

/* Selection */

.file-item .file-select-corner {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  z-index: 25;
  border-top-width: 42px;
  border-top-style: solid;
  border-right: 42px solid transparent;
}

.file-item .file-select-counter {
  position: absolute;
  top: 0;
  left: 0;
  height: 26px;
  width: 24px;
  color: white;
  line-height: 26px;
  text-align: center;
  font-weight: 600;
  z-index: 26;
}

.file-item .file-select-counter.cut,
.file-item .file-select-counter.copy {
  height: 23px;
  width: 21px;
}

.file-item.selected,
.file-item.selected.cut,
.file-item.selected.copy {
  background-color: #7986cb;
}

.file-item.last-selected,
.file-item.last-selected.cut,
.file-item.last-selected.copy {
  background-color: #f06292;
}

.file-item .file-select-corner.selected {
  border-top-color: #3f51b5;
}

.file-item .file-select-corner.last-selected {
  border-top-color: #e91e63;
}


.file-item.cut {
  border: 3px dashed darkgrey;
  background-color: #e0e0e0;
}

.file-item.cut p {
  opacity: 0.6;
}

.file-item.copy {
  border: 3px dashed dimgrey;
}


/* .file-item .file-select-corner.cut {
  border-top-color: #9e9e9e;
} */

/* .file-item .file-select-corner.copy {
  border-top-color: #9e9e9e;
} */

/* .file-list .file-items {
  border: 0 solid white;
  border-radius: 4px;
} */

/*
.file-item .selector {
  z-index: 50;
  border-style: hidden;
  border-color: transparent;
  position: absolute;
  height: inherit;
}

.file-item .selector-left {
  /* Dont corner border as it messes up dotted and dashed
  width: 0;
  border-width: 0 0 0 6px;
  top: 0;
  bottom: 0;
  left: 0;
}

.file-item .selector-right {
  width: 0;
  border-width: 0 6px 0 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.file-item .selector-top {
  height: 0;
  border-width: 6px 0 0 0;
  top: 0;
  left: 0;
  right: 0;
}

.file-item .selector-bottom {
  height: 0;
  border-width: 0 0 6px 0;
  bottom: 0;
  left: 0;
  right: 0;
}
*/
