<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<!-- http://stackoverflow.com/questions/17541614/use-thumbnail-image-instead-of-radio-button -->
<div class="color-pick"
     layout="row" layout-align="start center">
  <label class="color-label"
         ng-repeat="color in cp.colors">
    <input type="checkbox"
           ng-model="cp.model[color]"
           ng-style="{ backgroundColor: color }"
           aria-label="{{cp.name}}-select-{{color}}"></input>
    <div class="md-whiteframe-z1"
         ng-style="{ backgroundColor: color }"></div>
  </label>
</div>
