<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-sidenav class="md-sidenav-right panel-right"
            md-component-id="rpanel"
            md-is-locked-open="panel.lockOpen">
    <panel-toolbar theme="">
      <h1 class="md-headline">{{panel.name}}</h1>
      <span flex></span>
      <md-button md-primary
                 class="md-icon-button"
                 ng-if="panel.submitExists"
                 ng-disabled="panel.submitDisabled"
                 ng-click="panel.submit()"
                 aria-label="Panel-Submit: {{panel.name}}">
        <md-icon md-svg-icon="action:done"></md-icon>
      </md-button>
      <md-button ng-click="panel.cancel()"
                 class="md-icon-button"
                 aria-label="Panel-Cancel: {{panel.name}}">
        <md-icon md-svg-icon="navigation:close"></md-icon>
      </md-button>
    </panel-toolbar>
    <panel-host class="panel-body" item="{{panel.tag}}"></panel-host>
</md-sidenav>
