/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
panel {
  background-color: white;
}

/*
.panel-right {
  background-color: white;
}
*/

.panel-body md-content {
  height: calc(100vh - 200px);
  overflow: visible;
}

.panel-medium-tall {
  height: 96px;
  min-height: 96px;
  max-height: 96px;
}

.panel-medium-tall.panel-tall {
  height: 152px;
  min-height: 152px;
  max-height: 152px;
}

.panel-heading {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 48px;
  max-height: 48px;
  font-size: 1.5rem;
  font-weight: normal;
  padding: 0; /* Since there is text on left & icon on right */
  margin: 0;
}

.panel-indent {
  padding-left: 12px;
}

.panel-heading > * {
  margin: inherit;
  white-space: nowrap;
}

.panel-heading h2,
.panel-heading h3 {
  font-weight: normal;
}

.panel-heading a {
  color: inherit;
  text-decoration: none;
}

.panel-heading .fill-height {
  display: flex;
  align-items: center;
}

.panel-heading .md-button.md-icon-button {
  margin: 0;
  width: 3.6rem;
  padding: 0 0.3rem;
}
