<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-toolbar class="md-accent panel-medium-tall"
            ng-class="{'panel-tall':!$mdMedia('gt-xs')}"
            md-theme="{{::theme}}">
  <span flex></span>
  <div class="md-toolbar-tools"
       ng-transclude></div>
</md-toolbar>
