/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */

/*
 * Adapted from https://github.com/jez/tufte-pandoc-css
 * Copyright (c) 2016 Jacob Zimmerman
 * Released under The MIT License
 */
.tufte .latex-sub,
.tufte .latex-sup {
  text-transform: uppercase;
  font-size: smaller;
  position: relative;
}

.tufte .latex-sub {
  top: 0.2rem;
  margin-left: -0.1667rem;
  margin-right: -0.125rem;
}

.tufte .latex-sup {
  top: -0.2rem;
  margin-left: -0.36rem;
  margin-right: -0.15rem;
  text-shadow: none;
}

.tufte .latex::selection,
.tufte .latex span:not(.latex-sup)::selection {
  text-shadow:
    0.03em 0 #b4d5fe,
    -0.03em 0 #b4d5fe,
    0 0.03em #b4d5fe,
    0 -0.03em #b4d5fe,
    0.06em 0 #b4d5fe,
    -0.06em 0 #b4d5fe,
    0.09em 0 #b4d5fe,
    -0.09em 0 #b4d5fe,
    0.12em 0 #b4d5fe,
    -0.12em 0 #b4d5fe,
    0.15em 0 #b4d5fe,
    -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

.tufte .latex::-moz-selection,
.tufte .latex span:not(.latex-sup)::-moz-selection {
  text-shadow:
    0.03em 0 #b4d5fe,
    -0.03em 0 #b4d5fe,
    0 0.03em #b4d5fe,
    0 -0.03em #b4d5fe,
    0.06em 0 #b4d5fe,
    -0.06em 0 #b4d5fe,
    0.09em 0 #b4d5fe,
    -0.09em 0 #b4d5fe,
    0.12em 0 #b4d5fe,
    -0.12em 0 #b4d5fe,
    0.15em 0 #b4d5fe,
    -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}
