<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div class="page"
     flex layout="row" layout-align="start start" layout-fill>

  <md-sidenav layout-fill class="page-list-container"
              md-component-id="section-list"
              md-is-locked-open="page.list.isLockedOpen">
    <view-page-linear_list layout-fill></view-page-linear_list>
  </md-sidenav>

  <div class="page-area"
       ng-class="page.list.isLockedOpen ? '' : 'page-respace'"
       layout="column"
       layout-align="start start"
       layout-fill>

    <div class="page-menu">
      <div class="page-menu-filler" mouse-wheel-pass="page-section">
          <view-page-linear_ribbon></view-page-linear_ribbon>
      </div>
    </div>

    <div class="page-contents" flex="none"
       layout="column" layout-align="start start">

      <div ng-repeat="item in page.displaySections"
           id="section-{{item.key.replace(' ', '__')}}"
           ng-mouseover="page.activeSection = item.key"
           ng-class="(page.activeSection === item.key) ? 'page-section-active' : ''"
           class="page-section">

        <div layout="row" ng-if="item.value.substr">
          <!-- <div class="button-space" flex="12"
                layout="column" layout-align="start end">
            <!-- Don't use md-fling as there is a bug github:angular/material#5651 -->
            <!-- <md-fab-speed-dial md-open="isOpen" md-direction="down"
                              ng-init="isOpen=false"
                              ng-mouseenter="isOpen=true"
                              ng-mouseleave="isOpen=false"
                              class="md-scale">
              <md-fab-trigger class="layout-padding">
                <md-button aria-label="menu" class="md-icon-button md-accent">
                  <md-icon md-svg-src="navigation:arrow_drop_down_circle"></md-icon>
                  <md-tooltip md-delay="2" md-direction="left" show-gt-sm>
                    Menu
                  </md-tooltip>
                </md-button>
              </md-fab-trigger>

              <md-fab-actions>
                <md-button class="md-icon-button md-accent"
                          ng-click="page.launch(item.key)"
                          ng-show="item.key!=='.' && !!page.metadata[item.key]"
                          aria-label="Launch">
                  <md-icon md-svg-src="action:launch"></md-icon>
                  <md-tooltip md-delay="2" md-direction="left" show-gt-sm>
                    Launch
                  </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-accent"
                          ng-click="page.open(item.key)"
                          aria-label="Edit">
                  <md-icon md-svg-src="content:create"></md-icon>
                  <md-tooltip md-delay="2" md-direction="left" show-gt-sm>
                    Edit
                  </md-tooltip>
                </md-button>
                <md-button class="md-icon-button md-accent"
                          ng-click="page.openFolder(item.key)"
                          aria-label="Open Folder">
                  <md-icon md-svg-src="file:folder_open"></md-icon>
                  <md-tooltip md-delay="2" md-direction="left" show-gt-sm>
                    Open Folder
                  </md-tooltip>
                </md-button>
              </md-fab-actions>
            </md-fab-speed-dial>
          </div> -->

          <div class="text-space tufte" flex>

            <article ng-if="item.key==='.'" class="main-page">
                  <section s-markdown="item.value"
                      heading="{{::page.name}}"
                      url="{{::page.address}}/">
              </section>
            </article>
            <article ng-if="item.key!=='.'" class="child-page">
              <section s-markdown="item.value"
                      heading="{{::item.key}}"
                      behead="1"
                      url="{{::page.address}}/{{::item.key}}/">
              </section>
              <view-page-linear_contents url="{{::page.address}}/{{::item.key}}" items="page.metadata[item.key]"></view-page-linear_contents>
            </article>

              <!-- <div class="section-title-overlay">
              <md-button class="md-icon-button md-accent md-background section-icon-button"
                            ng-click="page.open(item.key); $event.stopPropagation();"
                            aria-label="Edit">
                <md-icon md-svg-src="content:create"></md-icon>
                <md-tooltip md-delay="2" md-direction="left" show-gt-sm>
                  Edit
                </md-tooltip>
              </md-button>
              <md-button class="md-icon-button md-background section-icon-button"
                          ng-click="page.open(item.key); $event.stopPropagation();"
                          aria-label="edit-{{page.key}}-section">
                <md-icon md-svg-src="content:create"></md-icon>
                <md-tooltip>Launch</md-tooltip>
              </md-button>
            </div> -->

          </div>
        </div>

        <div layout="row" ng-if="!item.value.substr">
          <!-- <div class="button-space" flex="12"
              layout="column" layout-align="start end" layout-margin>
            <div>
              <md-button class="md-icon-button md-accent"
                        ng-click="page.create(item.key)"
                        aria-label="Create">
                <md-icon md-svg-src="content:add_circle"></md-icon>
                <md-tooltip md-delay="2" md-direction="left" show-gt-sm>
                  Create
                </md-tooltip>
              </md-button>
            </div>
          </div> -->
          <div class="text-space tufte page-undefined" flex ng-if="item.key!=='.'">
            <article>
              <section>
                <h2>
                  {{item.key}}
                </h2>
                <page-contents item="page.metadata[item.key]"></page-contents>
              </section>
            </article>
          </div>
        </div>

      </div>

    </div>

  </div>

</div>
