/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */

/* page-view {
  height: 100%;
  display: flex;
} */

.page {
  outline: none;
  position: relative;
}

.page .page-area {
  overflow-x: none;
  overflow-y: auto;
}

.page .page-list-container {
  max-width: 250px;
  outline: 2px;
  background-color: rgba(0, 0, 0, 0.87);
}

.page .page-respace {
  -webkit-box-align: center;
  align-items: center;
  -webkit-align-content: center;
  align-content: center;
  max-width: 100%;
}

.page .page-menu-filler {
  position: absolute;
  top: 0;
  height: 16px;
  width: 100%;
}

.page .page-menu {
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
}


.page .page-contents {
  width: 100%;
  max-width: 1500px;
  min-height: 100%;
  margin-top: 48px;
}

.page .page-menu .page-menu-filler document-ribbon {
  width: 100%;
  display: none;
  position: absolute;
  opacity: 1;
  top: 0;
  z-index: 10;
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

/* stylelint comment-empty-line-before:['never'] */
.page .page-menu .page-menu-filler:hover document-ribbon {
  display: block;
  /* transform: translateY(0); */
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.page .page-contents .page-section {
  width: 100%;
  scroll-margin-top: 46px;
}


.page .page-contents .page-section .button-space {
  width: 100px;
  min-width: 48px;
  opacity: 0;
  transition: 0.25s ease all;
  margin: 7.5px 0;
}

.page .page-contents .page-section:first-child .button-space {
  margin: 12px 0 7.5px;
}

.page .page-contents .page-section .button-space:hover {
  opacity: 1;
  transition: 0.25s ease all;
}

.page .page-contents .page-section .button-space md-fab-trigger md-icon {
  border-radius: 24px;
  background-color: white;
}

.page .page-contents .page-section .text-space {
  user-select: auto;
  position: relative;
  border-left: 4px;
}

.page .page-contents .page-section:last-child .text-space {
  min-height: calc(100vh - 72px);
}


.page .page-contents .page-section .right-margin {
  width: 48px;
  min-width: 24px;
}

.page .page-contents .page-section .page-undefined article * {
  opacity: 0.75;
}


.page .page-contents .page-section:hover .section-title-overlay {
  z-index: 30;
  position: absolute;
  top: 0;
  right: 0;
  height: 54px;
  cursor: pointer;
  outline: 0;
  background: aqua;
}


.page .page-contents .page-section .section-title-overlay .section-icon-button {
  right: 8px;
  top: 8px;
  position: absolute;
  z-index: 31;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  min-height: 0;
}

.page .page-contents .page-section:hover .section-title-overlay .section-icon-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0.05);
}

.page .tufte div.code-extra,
pre:not(.code-extra) {
  padding: 1.4rem;
  margin: -0.7rem -1.4rem;
  width: 55%;
  font-size: 0.9rem;
  overflow-x: auto;
  background: linen;
}

.page .tufte .fullwidth div.code-extra,
pre:not(.code-extra) {
  width: 100%;
}
