/*!
 *  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */

/*
 * Adapted from https://github.com/edwardtufte/tufte-css
 * Copyright (c) 2014 Dave Liepmann
 * Released under The MIT License
 */

/* Import ET Book styles
   adapted from https://github.com/edwardtufte//et-book/blob/gh-pages/et-book.css */

@font-face {
  font-family: "et-book";
  src: url("typeface-et-book/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot");
  src: url("typeface-et-book/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.eot?#iefix") format("embedded-opentype"), url("typeface-et-book/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.woff") format("woff"), url("typeface-et-book/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.ttf") format("truetype"), url("typeface-et-book/et-book/et-book/et-book-roman-line-figures/et-book-roman-line-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "et-book";
  src: url("typeface-et-book/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot");
  src: url("typeface-et-book/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.eot?#iefix") format("embedded-opentype"), url("typeface-et-book/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.woff") format("woff"), url("typeface-et-book/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.ttf") format("truetype"), url("typeface-et-book/et-book/et-book/et-book-display-italic-old-style-figures/et-book-display-italic-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "et-book";
  src: url("typeface-et-book/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot");
  src: url("typeface-et-book/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.eot?#iefix") format("embedded-opentype"), url("typeface-et-book/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.woff") format("woff"), url("typeface-et-book/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.ttf") format("truetype"), url("typeface-et-book/et-book/et-book/et-book-bold-line-figures/et-book-bold-line-figures.svg#etbookromanosf") format("svg");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "et-book-roman-old-style";
  src: url("typeface-et-book/et-book/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot");
  src: url("typeface-et-book/et-book/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.eot?#iefix") format("embedded-opentype"), url("typeface-et-book/et-book/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.woff") format("woff"), url("typeface-et-book/et-book/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.ttf") format("truetype"), url("typeface-et-book/et-book/et-book/et-book-roman-old-style-figures/et-book-roman-old-style-figures.svg#etbookromanosf") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Tufte CSS styles */
.tufte {
  width: 82.5%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 17.5%;
  font-family: et-book, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1500px;
  counter-reset: sidenote-counter;
}

.tufte h1 {
  font-weight: 400;
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  font-size: 2.8rem;
  line-height: 1;
}

.tufte h1:last-child {
  margin-bottom: 1.5rem;
}


.tufte h2 {
  font-style: italic;
  font-weight: 400;
  margin-top: 1.8rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

.tufte h3 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.75rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

.tufte h4 {
  font-style: italic;
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 1.8rem;
  margin-bottom: 1rem;
  line-height: 1;
}

.tufte h5 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 1.6rem;
  margin-bottom: 0.8rem;
  line-height: 1;
}

.tufte h6 {
  font-weight: 400;
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.7rem;
  line-height: 1;
}

.tufte hr {
  display: block;
  height: 1px;
  width: 55%;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

.tufte p.subtitle {
  font-style: italic;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.8rem;
  display: block;
  line-height: 1;
}

.tufte .numeral {
  font-family: et-book-roman-old-style, serif;
}

.tufte .danger {
  color: red;
}

.tufte article {
  position: relative;
  padding: 0;
}

.tufte section {
  padding-top: 0;
  padding-bottom: 0;
}


.tufte p,
.tufte ol,
.tufte ul {
  font-size: 1.4rem;
  line-height: 2rem;
}

.tufte p {
  margin-top: 1.4rem;
  margin-bottom: 1.4rem;
  padding-right: 0;
  vertical-align: baseline;
}

.tufte blockquote {
  font-size: 1.4rem;
}

.tufte blockquote p {
  width: 55%;
  margin-right: 40px;
}

.tufte blockquote footer {
  width: 55%;
  font-size: 1.1rem;
  text-align: right;
}

.tufte section > p,
.tufte section > footer {
  width: 55%;
}

/* Simulate Pandoc's table output styles */
.tufte table {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.tufte section > table {
  width: 55%;
}

.tufte th {
  border-bottom: 1px solid black;
}

.tufte td,
.tufte th {
  font-size: 1.4rem;
  padding: 10px;
  text-align: left;
}

/* Allow tables to be full width
 * if they're wrapped in a figure.fullwidth
 * (Easier to insert from Pandoc than manually adding table) */
.tufte .table.fullwidth > table {
  width: 95%;
}

.tufte blockquote footer p {
  width: 100%;
}


/* Chapter Epigraphs */
.tufte div.epigraph {
  margin: 2.5em 0;
}

.tufte div.epigraph > blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
}

.tufte div.epigraph > blockquote,
.tufte div.epigraph > blockquote p {
  font-style: italic;
}

.tufte div.epigraph > blockquote footer {
  font-style: normal;
  margin-top: -0.75em;
}

.tufte div.epigraph > blockquote footer cite {
  font-style: italic;
}
/* end chapter epigraphs styles */

/* 50 + 5 == 55, to be the same width as paragraph */
.tufte section > ol,
.tufte section > ul {
  width: 50%;
  -webkit-padding-start: 5%;
}

.tufte li:not(:first-child) {
  margin-top: 0.25rem;
}

.tufte figure {
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  max-width: 55%;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

.tufte figcaption {
  float: right;
  clear: right;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.1rem;
  line-height: 1.6;
  vertical-align: baseline;
  position: relative;
  max-width: 40%;
}

.tufte figure.fullwidth figcaption {
  margin-right: 24%;
}

/* Links: replicate underline that clears descenders */
.tufte a:link,
.tufte a:visited {
  color: inherit;
}

.tufte a:link {
  text-decoration: none;
  background: -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#fffff8, #fffff8), -webkit-linear-gradient(#333, #333);
  background: linear-gradient(#fffff8, #fffff8), linear-gradient(#fffff8, #fffff8), linear-gradient(#333, #333);
  -webkit-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  -moz-background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-size: 0.05em 1px, 0.05em 1px, 1px 1px;
  background-repeat: no-repeat, no-repeat, repeat-x;
  text-shadow: 0.03em 0 #fffff8, -0.03em 0 #fffff8, 0 0.03em #fffff8, 0 -0.03em #fffff8, 0.06em 0 #fffff8, -0.06em 0 #fffff8, 0.09em 0 #fffff8, -0.09em 0 #fffff8, 0.12em 0 #fffff8, -0.12em 0 #fffff8, 0.15em 0 #fffff8, -0.15em 0 #fffff8;
  background-position: 0% 93%, 100% 93%, 0% 93%;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) { .tufte a:link { background-position-y: 87%, 87%, 87%; } }

.tufte a:link::selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

.tufte a:link::-moz-selection {
  text-shadow: 0.03em 0 #b4d5fe, -0.03em 0 #b4d5fe, 0 0.03em #b4d5fe, 0 -0.03em #b4d5fe, 0.06em 0 #b4d5fe, -0.06em 0 #b4d5fe, 0.09em 0 #b4d5fe, -0.09em 0 #b4d5fe, 0.12em 0 #b4d5fe, -0.12em 0 #b4d5fe, 0.15em 0 #b4d5fe, -0.15em 0 #b4d5fe;
  background: #b4d5fe;
}

/* Sidenotes, margin notes, figures, captions */
.tufte img {
  max-width: 100%;
}

.tufte .sidenote,
.tufte .marginnote {
  float: right;
  clear: right;
  margin-right: -60%;
  width: 50%;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.08rem;
  line-height: 1.4;
  vertical-align: baseline;
  position: relative;
}

.tufte .leftnote {
  float: left;
  clear: left;
  margin-left: -30%;
  width: calc(30% - 30px);
  min-width: 100px;
  text-align: right;
  margin-top: 0;
  margin-bottom: 1em;
  font-size: 1.08rem;
  line-height: 1.4;
  vertical-align: baseline;
  position: relative;
}

.tufte .sidenote-number {
  counter-increment: sidenote-counter;
}

.tufte .sidenote-number::after,
.tufte .sidenote::before {
  font-family: et-book-roman-old-style, serif;
  position: relative;
  vertical-align: baseline;
}

.tufte .sidenote-number::after {
  content: counter(sidenote-counter);
  font-size: 1rem;
  top: -0.5rem;
  left: 0.1rem;
}

.tufte .sidenote::before {
  content: counter(sidenote-counter) " ";
  font-size: 1rem;
  top: -0.5rem;
}

.tufte blockquote .sidenote,
.tufte blockquote .marginnote {
  margin-right: -82%;
  min-width: 59%;
  text-align: left;
}

.tufte div.fullwidth,
.tufte table.fullwidth {
  width: 100%;
}

.tufte div.table-wrapper {
  overflow-x: auto;
  font-family: "Trebuchet MS", "Gill Sans", "Gill Sans MT", sans-serif;
}

.tufte .sans {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
  letter-spacing: 0.03em;
}

.tufte code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1.05rem;
  /* line-height: 1.42; */
  line-height: 1.52;
  background: linen;
  padding: 0 2px;
  border: 1px solid linen;
  border-radius: 5px;
}

.tufte h1 > code,
.tufte h2 > code,
.tufte h3 > code {
  font-size: 0.8em;
}

.tufte pre > code {
  font-size: 0.8rem;
  width: 55%;
  /* margin-left: 2.5%; */
  overflow-x: auto;
  border-radius: 8px;
  padding: 5px 8px;
}

.tufte .sans > code {
  font-size: 1.2rem;
}

.tufte .marginnote > code,
.tufte .sidenote > code {
  font-size: 0.9rem;
}

.tufte .leftnote > code {
  font-size: 0.9rem;
}

.tufte .fullwidth pre > code {
  width: 95%;
}

.tufte .fullwidth {
  max-width: 90%;
  clear: both;
}

.tufte span.newthought {
  font-variant: small-caps;
  font-size: 1.2em;
}

.tufte input.margin-toggle {
  display: none;
}

.tufte label.sidenote-number {
  display: inline;
}

.tufte label.margin-toggle:not(.sidenote-number) {
  display: none;
}

.tufte .iframe-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.tufte .iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


@media (max-width: 760px) {
  .tufte .table.fullwidth > table {
    width: 100%;
  }
}


@media (max-width: 760px) {
  .tufte {
    width: 84%;
    padding-left: 8%;
    padding-right: 8%;
  }

  .tufte div.table-wrapper,
  .tufte table {
    width: 85%;
  }

  .tufte hr,
  .tufte section > p,
  .tufte section > footer,
  .tufte section > table {
    width: 100%;
  }

  .tufte pre code {
    width: 97%;
  }

  .tufte section > ol {
    width: 90%;
  }

  .tufte section > ul {
    width: 90%;
  }

  .tufte figure {
    max-width: 90%;
  }

  .tufte figcaption,
  .tufte figure.fullwidth figcaption {
    margin-right: 0%;
    max-width: none;
  }

  .tufte blockquote {
    margin-left: 1.5em;
    margin-right: 0;
  }

  .tufte blockquote p,
  .tufte blockquote footer {
    width: 100%;
  }

  .tufte label.margin-toggle:not(.sidenote-number) {
    display: inline;
  }

  .tufte .sidenote,
  .tufte .marginnote,
  .tufte .leftnote {
    display: none;
  }

  .tufte .margin-toggle:checked + .sidenote,
  .tufte .margin-toggle:checked + .marginnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    position: relative;
  }

  .tufte .margin-toggle:checked + .leftnote {
    display: block;
    float: left;
    clear: both;
    left: 1rem;
    margin: 1rem 2.5%;
    width: 95%;
    min-width: 95%;
    text-align: left;
    position: relative;
  }

  /* .tufte .margin-toggle:checked + .leftnote {
    display: block;
    float: left;
    left: 1rem;
    clear: both;
    width: 95%;
    margin: 1rem 2.5%;
    vertical-align: baseline;
    position: relative;
  } */

  .tufte label {
    cursor: pointer;
  }

  .tufte img {
    width: 100%;
  }
}
