<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-menu-item class="toolbar-menu-button">
  <md-button class="toolbutton"
             ng-click="toolbtn.click()"
             ng-disabled="{{toolbtn.disabled}}"
             aria-label="{{::toolbtn.name}}">
    <md-icon class="tool-icon md-accent"
             md-font-icon="mdi mdi-{{::toolbtn.icon}}"
             md-menu-align-target></md-icon>
    <p class="tool-name md-body-2">
      {{::toolbtn.name}}
    </p>
    <ng-transclude></ng-transclude>
  </md-button>
  <!-- <md-tooltip>{{::toolbtn.tooltip}}</md-tooltip> -->
</md-menu-item>
