<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<details class="page-sub-contents" ng-if="pageContents.items && pageContents.items.length">
  <summary>
    Read More
  </summary>
  <ul>
    <li class="sub-item"
        ng-repeat="subItem in pageContents.items"
        ng-click="pageContents.launch(subItem)"
        ng-hide="subItem === '.'">
      <span>{{subItem}}</span>
    </li>
  <ul>
</details>
