/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */

view-file-list .directory {
  outline: none;
  margin-top: 0;
  margin-bottom: 0;
}

view-file-list {
  overflow: hidden;
  outline: none;
}

view-file-list s-file-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  height: calc(100vh - 242px);
  width: 300px;
  min-width: 300px;
  overflow-x: auto;
}

@media screen and (min-width: 960px) {
  view-file-list s-file-list {
    height: calc(100vh - 250px);
  }
}

/*
  view-file-list file-list {
    width: 300px;
    min-width: 300px;
    max-width: 300px;
    overflow-y: auto;
}
*/

view-file-list .file-item {
  width: 300px;
  background-color: white;
}

view-file-list .file-item:hover {
  opacity: 0.75;
  cursor: default;
}
