<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<view-file-list_ribbon></view-file-list_ribbon>
<div class="directory"
     flex layout="row" layout-align="left center"
     layout-margin
     ng-click="directory.selection.clear()">
  <s-file-list layout="column" layout-fill
               key="."
               items="directory.files"
               operations="directory.file"
               xc="directory.xc"
               selection="directory.selection"></s-file-list>
</div>
