<!--
  Copyright (c) 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<style>
  .about-content {
    letter-spacing: 0.005em;
    line-height: 1.5em;
  }

  .about-content a {
    color: #1565C0;
    text-decoration: none;
  }

  .about-content a:hover {
    border-bottom: 2px solid;
  }
</style>


<section class="about-content">
  <p>
    <strong>Copyright &copy;</strong> 2016, 2022, Rahul Gupta and Syntropize Contributors.
  </p>

  <p>
    The source code for this program is licensed under the terms of<br/>
    <a ng-href="http://gitlab.com/syntropize/syntropize/-/raw/main/LICENSE">Mozilla Public License v2.0</a>.
  </p>

  <p>
    The content included with this program is licensed under the<br/>
    <a href="http://gitlab.com/syntropize/syntropize/-/raw/main/LICENSE-CONTENT">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
  </p>

  <p>
    The splash screen image is courtesy <a ng-href="http://unsplash.com">Unsplash</a>, shot by <a href="http://madebyvadim.com">Vadim Sherbakov</a> and released under the <a href="http://unsplash.com/license">Unsplash License</a>. Syntropize brand typography is based on the Polya Font by <a href="http://www.behance.net/coquet_adrien">Adrian Coquet</a>.
  </p>

  <p>
    We wish to express our heartfelt gratitude to the incredible community of open source developers for it is your tireless work that even makes this project possible. <strong>You are awesome!</strong>
  </p>
</section>
