/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
web-card-input .preview {
  width: 232px;
  position: relative;
}

web-card-input .field {
  margin: 6px 0;
}

web-card-input .hint {
  /* Position the hint */
  position: absolute;
  left: 2px;
  right: auto;
  bottom: 7px;

  /* Copy styles from ng-messages */
  font-size: 12px;
  line-height: 14px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.55, 0.2);

  /* Set our own color */
  color: grey;
}

web-card-input .md-button md-progress-circular {
  display: inline-block;
  vertical-align: middle;
}


web-card-input .inputdemoErrorsAdvanced .hint.ng-hide,
web-card-input .inputdemoErrorsAdvanced .hint.ng-enter,
web-card-input .inputdemoErrorsAdvanced .hint.ng-leave.ng-leave-active {
  bottom: 26px;
  opacity: 0;
}

web-card-input .inputdemoErrorsAdvanced .hint.ng-leave,
web-card-input .inputdemoErrorsAdvanced .hint.ng-enter.ng-enter-active {
  bottom: 7px;
  opacity: 1;
}
