<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div layout="column"
     ng-form="template.formName">

  <md-input-container class="field"
                      flex>
    <label>Title</label>
    <input ng-model="template.contents.title"
           spellcheck></input>
  </md-input-container>

  <md-input-container class="field"
                      flex>
    <label>Description</label>
    <textarea data-ng-model="template.contents.text"
              spellcheck></textarea>
  </md-input-container>

  <md-input-container class="field" flex>
    <label>Hyperlink</label>
    <input data-ng-model="template.address"
           type="url"></input>
  </md-input-container>


  <div layout="row"
       layout-align="end center">
    <md-input-container class="field">
      <label>Key</label>
      <input
            ng-model="template.key"
            ng-model-options="{debounce: {default: 500}}">
      </input>
      <div class="hint">
        <span>Twitter or Github Handle</span>
      </div>
    </md-input-container>

    <md-button class="md-raised"
               ng-class="{
                 'md-warn':template.success === -1,
                 'md-primary':template.success >= 0
               }"
               aria-label="Fetch Card"
               ng-disabled="template.success === 1 || template.key === undefined || template.key === ''"
               ng-click="template.fetch()">
      <span ng-if="template.success === 0 || template.success === 1">
        Fetch
        <md-progress-circular ng-show="template.success === 1"
                              md-mode="indeterminate"
                              class="md-accent"
                              md-diameter="20"></md-progress-circular>
      </span>
      <span ng-if="template.success === -1">
        Retry
      </span>
      <span ng-if="template.success === 2">
        Success
      </span>
    </md-button>
  </div>

  <!--
    <div class="preview">
      <div web-dynamic="template.contents.data['html']"></div>
      <div class="md-body-1">
        {{template.contents.data.title}}
      </div>
    </div>
  -->

</div>
