<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-card class="card-shell repeated-item"
         md-primary
         ng-class="{'md-whiteframe-z5': card.style.highlight}"
         ng-click="$event.stopPropagation()"
         ng-style="{
           'background-color': card.color,
           width: card.style.width,
           'min-height': card.style.height }">

  <div class="mode-container"
       ng-show="card.displayMode === 'card'"
       ng-style="{ height: card.style.height }">

    <div class="type-container"
         ng-if="card.isValidStatus">

      <md-progress indeterminate
                   ng-if="card.status === 'updating'"></md-progress>

      <card-display-host class="host-container"
                         contents="card.value.contents"
                         metadata="card.metadata"
                         index="{{card.index}}"
                         key="{{card.key}}"
                         ng-if="card.regStatus"
                         type="{{card.type}}"></card-display-host>

      <template-system-card class="host-container"
                            index="{{card.index + 1}}"
                            key="{{card.key}}"
                            type="{{card.type}}"
                            ng-if="!card.regStatus"></template-system-card>

    </div>

    <div class="type-container"
         ng-if="!card.isValidStatus">

      <status-system-card class="host-container"
                         contents="card.value"
                         index="{{card.index + 1}}"
                         key="{{card.key}}"></status-system-card>

    </div>

  </div>


  <div class="mode-container"
       ng-show="card.displayMode === 'file'">

    <div class="type-container">
      <file-system-card class="host-container"
                        index="{{card.index + 1}}"
                        key="{{card.key}}"></file-system-card>
    </div>

  </div>


  <!-- Overlays -->
  <!--Selection Box: Implemented as 4 divs with side borders of 6px-->
  <div class="selector selector-left"
       ng-style="card.style.border">
  </div>
  <div class="selector selector-right"
       ng-style="card.style.border">
  </div>
  <div class="selector selector-top"
       ng-style="card.style.border">
  </div>
  <div class="selector selector-bottom"
       ng-style="card.style.border">
  </div>

  <div ng-style="{ 'border-top-color':card.style.border.borderColor }"
       ng-show="card.style.highlight"
       class="selection-badge">
  </div>
  <div class="md-subhead selection-badge-text">
    {{card.selectionNumber}}
  </div>

  <div class="card-title-overlay"
       ng-style="{ width:card.style.width }"
       ng-sglclick="card.toggleSelection()"
       ng-dblclick="card.launch()"
       aria-label="toggle-select-{{card.key}}-card"></div>

  <!-- Dropdown button -->
  <md-button class="md-icon-button md-background card-icon-button"
             ng-click="card.open(); $event.stopPropagation();"
             title="{{card.key}}"
             aria-label="launch-{{card.key}}-card">
    <md-icon md-svg-icon="{{card.icon()}}"></md-icon>
    <md-tooltip>Launch</md-tooltip>
  </md-button>

  <!-- End Overlays -->

</md-card>
