/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.card-shell {
  outline: none;
  overflow: hidden;
  position: relative;
  margin: 4px;
}

/* === Card Sub-containers === */

.card-shell .mode-container .type-container {
  height: inherit;
}

.card-shell .mode-container .type-container md-progress {
  position: absolute;
  top: 0;
  left: 0;
}

.card-shell .mode-container .type-container .host-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: inherit;
  display: block;
}

.card-shell:hover .mode-container .type-container .host-container {
  background-color: rgba(0, 0, 0, 0.07);
}

.card-shell:hover .mode-container .type-container .host-container > * {
  display: block;
  height: inherit;
}


/* === Card Overlay === */

/* XCV */

.card-shell.cut {
  opacity: 0.85;
}

/* Selection */

.card-shell .selector {
  z-index: 50;
  border-style: hidden;
  border-color: transparent;
  position: absolute;
  height: inherit;
}

.card-shell .selector-left {
  /* Dont corner border as it messes up dotted and dashed */
  width: 0;
  border-width: 0 0 0 6px;
  top: 0;
  bottom: 0;
  left: 0;
}

.card-shell .selector-right {
  width: 0;
  border-width: 0 6px 0 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.card-shell .selector-top {
  height: 0;
  border-width: 6px 0 0 0;
  top: 0;
  left: 0;
  right: 0;
}

.card-shell .selector-bottom {
  height: 0;
  border-width: 0 0 6px 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.card-shell .selection-badge {
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-top-width: 42px;
  border-top-style: solid;
  border-right: 42px solid transparent;
  pointer-events: none;
  z-index: 51;
}

.card-shell .selection-badge-text {
  top: 0;
  left: 0;
  position: absolute;
  height: 26px;
  width: 24px;
  color: white;
  text-align: center;
  line-height: 26px;
  font-weight: 600;
  z-index: 51;
  pointer-events: none;
}

.card-shell .selection-badge-clickbox {
  top: 0;
  right: 40px;
  position: absolute;
  height: 42px;
  width: 48px;
  color: transparent;
  cursor: pointer;
  z-index: 52;
}

/* Header */

.card-shell md-list.card-header {
  padding: 8px 0 0 0;
  min-height: 56px;
}

.card-shell md-list.card-header md-list-item .md-avatar .selection-number {
  color: white;
  border-radius: 2px;
  height: 20px;
  width: 20px;
  text-align: center;
  font-weight: 900;
  font-family: roboto, noto, sans-serif;
}

.card-shell md-list.card-header md-list-item .card-heading h3 {
  max-width: 150px;
  font-size: 16px;
}

.card-shell .md-dialog-actions .md-button.md-icon-button {
  margin-top: 0;
  margin-bottom: 0;
}

.card-shell .md-dialog-actions .md-button.md-icon-button.double-icon {
  position: relative;
}

.card-shell .md-button.md-icon-button .overlap-icon-back {
  position: absolute;
  height: 24px;
  width: 24px;
  top: 8px;
  left: 8px;
}

.card-shell .md-button.md-icon-button .overlap-icon-front {
  position: absolute;
  height: 24px;
  width: 24px;
  bottom: 8px;
  right: 8px;
}

.card-shell .md-button.md-icon-button.card-icon-button {
  right: 8px;
  top: 8px;
  position: absolute;
  z-index: 31;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  min-height: 0;
}

.card-shell:hover .md-button.md-icon-button.card-icon-button {
  width: 32px;
  height: 32px;
  line-height: 32px;
  min-height: 32px;
  background-color: rgba(0, 0, 0, 0.05);
}

.card-shell:hover .card-title-overlay {
  z-index: 30;
  position: absolute;
  top: 0;
  left: 0;
  height: 54px;
  cursor: pointer;
  outline: 0;
}

.card-shell:hover .card-title {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.02);
}
