/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
/* toolbar-button .toolbutton {
  width: 48px;
} */


/* toolbar-button .toolbutton.large {
  min-width: 7em;
  width: intrinsic;           /* Safari/WebKit uses a non-standard name * /
  width: -moz-max-content;    /* Firefox/Gecko * /
  width: -webkit-max-content; /* Chrome * /
} */


toolbar-button .toolbutton .tool-icon {
  font-size: 24px;
  height: 24px;
}

toolbar-button .toolbutton .tool-name {
  /* font-size: 14px;
     font-weight: 500;
     height: 14px; */
  margin: auto 2px;
}
