<!--
  Copyright (c) 2016, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-button class="toolbutton"
           ng-class="toolbtn.large ? '' : 'md-icon-button'"
           ng-click="toolbtn.click()"
           ng-disabled="toolbtn.disabled"
           aria-label="{{::toolbtn.name}}">
  <md-icon class="tool-icon md-accent"
           md-font-icon="mdi mdi-{{::toolbtn.icon}}"
           md-menu-origin></md-icon>
  <span class="tool-name"
        ng-show="toolbtn.large">
    {{::toolbtn.name}}
  </span>
  <ng-transclude></ng-transclude>
  <md-tooltip>
    {{::toolbtn.tooltip}}
  </md-tooltip>
</md-button>
