<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<div>

  <div class="flag-bar"></div>
  <div class="card-heading"
       layout="row" layout-align="start center">
    <div class="md-headline card-heading-text">
      {{card.key}}
    </div>
  </div>

  <div class="card-lens"
       layout="column" layout-align="center center">
    <div class="progress"
         layout="column" layout-align="center center"
         ng-show="card.status === 'loading'">
      <md-progress-circular class="md-accent"
                            md-mode="indeterminate">
      </md-progress-circular>
      <div class="md-subhead">Loading Data...</div>
    </div>

    <div ng-show="card.status === 'error'">
      <perfect-scrollbar class="scroller"
                         opts="{
                           suppressScrollX: true,
                           minScrollbarLength: 20,
                         }">
        <div class="error" layout="column" layout-align="start center">
          <md-icon class="md-accent error-icon"
                  md-svg-icon="alert:warning"></md-icon>
          <div class="md-subhead">Error</div>
          <p class="md-body-2 selectable">
            Unable to load card
          </p>
          <p class="md-caption selectable">
              {{card.error.message}}
          </p>
        </div>
      </perfect-scrollbar>
    </div>
  </div>

</div>
