/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
status-system-card {
  height: 236px;
  position: relative;
}

status-system-card .flag-bar {
  min-height: 8px;
}

status-system-card .card-heading {
  height: 48px;
  min-height: 48px;
  padding: 0 8px;
  cursor: pointer;
}

status-system-card .card-heading .card-heading-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;
  padding: 8px 0 8px 8px;
  width: calc(100% - 20px);
}


status-system-card .card-lens .progress {
  margin-top: 20px;
}

status-system-card .card-lens .error {
  margin-top: 20px;
}

status-system-card .card-lens p {
  margin: 4px 0;
  padding: 0 16px;
  word-wrap: break-word;
}

status-system-card .card-lens md-icon {
  height: 48px;
  width: 48px;
}

status-system-card .scroller {
  height: 174px;
  position: relative;
  max-width: calc(100%);
}
