/*!
 *  Copyright (c) 2016-2018, Rahul Gupta and ProtoSyntropize Developers
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.ribbon {
  min-height: 48px;
  flex: 1;
  background: #f6f6f6;
}

md-toolbar.ribbon-toolbar {
  height: 48px;
  min-height: 48px;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools {
  height: 48px;
  overflow: hidden;
}

md-toolbar.ribbon-toolbar .md-menu {
  margin: 0;
}

md-toolbar.ribbon-toolbar .md-menu .md-menu-content {
  overflow: hidden;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools > .md-menu:first-child {
  margin-left: -8px;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools > toolbar-button:first-child {
  margin-left: -8px;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools > .md-menu:last-child {
  margin-right: -8px;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools > toolbar-button:last-child {
  margin-right: -8px;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools .separator {
  margin-left: 2px;
  margin-right: 2px;
  width: 0;
  height: 150%;
  border: 1px inset darkgrey;
  border-radius: 2px;
}

.ribbon md-icon.tab-icon {
  font-size: 24px;
  height: 24px;
}

.ribbon .tab-text {
  font-weight: 600;
}


/*
md-toolbar.ribbon-toolbar {
  display: block;
  position: relative;
  height: 48px;
  overflow: hidden;
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.5s;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools.ng-leave.ng-leave-active,
.toolbar .md-subheader .md-subheader-content.ng-enter {
  top: -300px;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools.ng-leave,
.toolbar .md-subheader .md-subheader-content.ng-enter.ng-enter-active {
  top: 0;
}

md-toolbar.ribbon-toolbar .md-toolbar-tools.ng-leave {
  z-index: 100;
}
*/
