<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->
<md-dialog class="dialog"
           aria-label="Confirm-{{dialog.input.title}}">

  <md-toolbar md-primary
              class="dialog-toolbar">
    <div class="md-toolbar-tools">
      <h2>{{dialog.input.title}}</h2>
      <span flex></span>
      <!-- <md-button class="md-icon-button" ng-click="cancel()">
        <md-icon md-svg-icon="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
      </md-button> -->
    </div>
  </md-toolbar>

  <md-dialog-content class="dialog-content">
    <div class="md-dialog-content">
      <p>{{dialog.input.text}}</p>
      <form name="form">
        <md-input-container md-padding>
          <input name="name"
                 ng-model="dialog.name"
                 ng-model-options="{
                   debounce: { default: 500 },
                   allowInvalid: true
                 }"
                 ui-validate="{
                   legalName: 'dialog.valid.isLegal(dialog.name)',
                   uniqueName: 'dialog.valid.isUnique(dialog.name)'
                 }"
                 ui-validate-watch="'dialog.name'" aria-label="Target Name" />
          <div ng-messages="form.name.$error">
            <div ng-message="required"
                 ng-show="form.name.$error.required">
              Enter a New Input
            </div>
            <div ng-message="legalName"
                 ng-show="dialog.name && form.name.$error.legalName">
              Input CANNOT have Special Characters
            </div>
            <div ng-message="uniqueName"
                 ng-show="dialog.name && form.name.$error.uniqueName && form.$dirty">
              A Unique Input is Required
            </div>
          </div>
        </md-input-container>
      </form>
    </div>

    <div class="md-dialog-actions"
         layout="row">
      <span flex></span>
      <md-button ng-click="dialog.cancel()"
                 aria-label="Cancel">
        {{dialog.input.cancel}}
      </md-button>
      <md-button ng-click="dialog.continue(dialog.name)"
                 ng-disabled="form.$pristine || form.$invalid"
                 aria-label="Continue">
        {{dialog.input.continue}}
      </md-button>
    </div>
  </md-dialog-content>

</md-dialog>
