/*!
 *  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.
 *
 *  This Source Code Form is subject to the terms of the Mozilla Public
 *  License, v. 2.0. If a copy of the MPL was not distributed with this
 *  file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 *  SPDX-License-Identifier: MPL-2.0
 */
.md-toolbar-tools.navbar-tools {
  padding-left: 8px;
}

.md-toolbar-tools.navbar-tools .md-button.md-icon-button.nav-dir-button {
  margin-left: -4px;
}

.navbar-tools md-icon.nav-button-icon {
  font-size: 24px;
  margin-right: 8px;
}

.navbar-tools .nav-button-text {
  margin-left: 8px;
}

.navbar-tools .sep {
  width: 5px;
  height: 10px;
}

.navbar-tools .md-button.nav-button {
  text-align: left;
  width: 208px;
  margin-right: 0;
}

.navbar-tools .md-button.nav-button md-icon {
  color: rgb(255, 64, 129);
}

.navbar-tools .md-button.nav-button-2 {
  width: 40px;
  min-width: 40px;
  max-width: 40px;
  padding: 0;
  margin-left: 2px;
}

.navbar-tools .md-button.nav-button-2 > md-icon {
  color: rgb(255, 64, 129);
}

.navbar-tools .md-button.nav-button-2 > md-icon > svg {
  padding-bottom: 12px;
  height: 36px;
}

.nav-select {
  padding-top: 0;
  padding-bottom: 0;
}

.nav-select md-menu-item > .md-button.nav-menu-button {
  position: relative;
  padding: 0 8px;
}

.nav-select md-menu-item > .md-button.nav-menu-button > md-icon {
  margin-right: 8px;
}

.nav-select md-menu-item > .md-button.md-icon-button > md-icon {
  margin-right: 0;
}

.nav-select md-menu-item > .md-button.nav-menu-button > md-icon.nav-menu-launch-icon {
  position: absolute;
  right: 0;
  font-size: 24px;
  top: 12px;
  margin-left: 8px;
}

.nav-select md-menu-item > .md-button.nav-menu-button > span {
  margin-left: 8px;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

/* These styles are put in place because angular materials renders
   all svg icons in an expression one under another */
.nav-select md-menu-item > .md-button.nav-menu-button > md-icon.nav-menu-launch-icon svg {
  padding-bottom: 12px;
}
