<!--
  Copyright (c) 2016, 2022, Rahul Gupta and Syntropize Contributors.

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  SPDX-License-Identifier: MPL-2.0
-->

<md-toolbar md-theme="default"
            ng-mouseleave="nav.resetAddress()"
            ng-class="{'md-accent':nav.readOnly}">

  <div class="md-toolbar-tools navbar-tools">

    <md-button aria-label="Navigate Back"
               class="md-icon-button nav-dir-button"
               hide-sm
               hide-xs
               ng-click="nav.history2.back()"
               ng-disabled="nav.history2.disableBack">
      <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
    </md-button>

    <md-button aria-label="Navigate Forward"
               class="md-icon-button nav-dir-button"
               hide-sm
               hide-xs
               ng-click="nav.history2.forward();"
               ng-disabled="nav.history2.disableForward">
      <md-icon md-svg-icon="navigation:arrow_forward"></md-icon>
    </md-button>

    <md-button aria-label="Navigate Up"
               class="md-icon-button nav-dir-button"
               hide-sm
               hide-xs
               ng-click="nav.up.go()"
               ng-disabled="nav.up.disabled">
      <md-icon class="md-accent"
               md-svg-icon="navigation:arrow_upward"></md-icon>
    </md-button>

    <md-autocomplete class="md-primary"
                     flex
                     md-delay="500"
                     md-input-name="address"
                     md-items="item in nav.address.searchItems"
                     md-no-cache="true"
                     md-search-text="nav.address.text"
                     md-search-text-change=""
                     md-selected-item-change=""
                     md-escape-options="blur"
                     ng-keyup="nav.keyIsEnter($event) ? nav.launchAddress() : angular.noop()"

                     placeholder="{{nav.address.text}}">
      <md-item-template>{{item.name}}</md-item-template>
    </md-autocomplete>

    <span class="sep"></span>

    <md-menu ng-hide="!nav.viewMenuButton.active && nav.media('gt-sm')">

      <md-button aria-label="{{nav.launchButton.message}}"
                 ng-class="nav.media('gt-md') ?
                          'nav-button md-primary md-raised md-hue-1':
                          'md-fab md-mini md-primary md-hue-1'"
                 ng-click="$mdOpenMenu()"
                 ng-disabled="!nav.launchButton.enabled">
        <md-icon md-menu-origin
                 md-svg-icon="{{nav.viewButton.icon}}"></md-icon>
        <span class="nav-button-text"
              ng-if="nav.media('gt-md')">
          {{nav.viewButton.name}}
        </span>
        <md-tooltip>View</md-tooltip>
      </md-button>

      <md-menu-content class="nav-select"
                        width="4">

        <!-- Navigation inside Small Button when everything is hidden-->
        <md-menu-item hide-gt-sm
                      layout="row"
                      layout-align="space-between center">
          <md-button aria-label="Navigate Back"
                     class="md-icon-button md-primary"
                     ng-click="nav.history2.back()"
                     ng-disabled="nav.history2.disableBack">
            <md-icon md-svg-icon="navigation:arrow_back"></md-icon>
          </md-button>
          <md-button aria-label="{{nav.launchButton.message}}"
                     class="md-icon-button md-primary"
                     ng-click="nav.launchAddress()">
            <md-icon md-svg-icon="{{nav.launchButton.icon}}"></md-icon>
          </md-button>
          <md-button aria-label="Navigate Up"
                     class="md-icon-button md-primary"
                     ng-click="nav.up.go()"
                     ng-disabled="nav.up.disabled">
            <md-icon md-svg-icon="navigation:arrow_upward"></md-icon>
          </md-button>
          <md-button aria-label="Navigate Forward"
                     class="md-icon-button md-primary"
                     ng-click="nav.history2.forward()"
                     ng-disabled="nav.history2.disableForward">
            <md-icon md-svg-icon="navigation:arrow_forward"></md-icon>
          </md-button>
        </md-menu-item>

        <md-divider hide-gt-sm
                    ng-hide="!nav.viewMenuButton.active"></md-divider>

        <!-- First Button to Reload or Launch -->
        <md-menu-item ng-hide="!nav.viewMenuButton.active && !nav.media('gt-md')">
          <md-button aria-label="Launch Address"
                     class="nav-menu-button"
                     ng-click="nav.launchAddress()"
                     ng-disabled="!nav.launchButton.enabled">
            <md-icon class="nav-button-icon md-accent"
                     md-menu-align-target
                     md-svg-icon="{{nav.viewButton.icon}}"
                     ng-show="nav.viewMenuButton.active"></md-icon>
            <span>
              {{(nav.viewMenuButton.active && nav.view) ?
                nav.viewButton.name : nav.launchButton.message}}
            </span>
            <md-icon class="md-accent nav-menu-launch-icon"
                     md-svg-icon="{{nav.launchButton.icon}}"></md-icon>
          </md-button>
        </md-menu-item>

        <!-- List of Remainder Views -->
        <md-menu-item ng-hide="(id === nav.view || !nav.viewMenuButton.active)"
                      ng-repeat="(id,view) in nav.viewButton.list">
          <md-button aria-label="Launch {{view.name}} View"
                     class="nav-menu-button"
                     ng-click="nav.launchView(id)"
                     ng-disabled="!(nav.viewStatus[id] || nav.launchButton.message === 'Launch')">
            <md-icon class="md-accent"
                     md-svg-icon="{{view.icon}}"></md-icon>
            <span>{{id}}</span>
            <md-icon class="md-accent nav-menu-launch-icon"
                     md-font-icon="mdi mdi-arrow-right-bold"></md-icon>
          </md-button>
        </md-menu-item>

      </md-menu-content>

    </md-menu>

    <md-button aria-label="{{nav.launchButton.message}}"
               class="nav-button-2 md-raised md-primary md-hue-1"
               hide-sm
               ng-click="nav.launchAddress()"
               ng-disabled="!nav.launchButton.enabled"
               ng-hide="nav.viewMenuButton.active && !nav.media('gt-md')">
      <md-icon md-svg-icon="{{nav.launchButton.icon}}"></md-icon>
      <md-tooltip>{{nav.launchButton.message}}</md-tooltip>
    </md-button>

    <!--
    <md-button class="md-icon-button"
                aria-label="Launch-Current-Location-Externally"
                ng-click="resource.board.file().open('')" >
      <md-icon class="md-accent"
                md-svg-icon="action:launch"></md-icon>
      <md-tooltip>Launch Externally</md-tooltip>
    </md-button>
    -->
  </div>

  <md-progress-linear md-mode="{{nav.progress.status}}"
                      ng-class="{{nav.progress.color}}"
                      value="{{nav.progress.value}}"></md-progress-linear>

</md-toolbar>
